@using Microsoft.Extensions.Localization;
@using  RocketPOS.Models;
@using RocketPOS.Framework;
@model RocketPOS.Models.InventoryTransferModel
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
<hr />
<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Manage Inventory Transfer</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="InventoryTransfer" method="post" id="InventoryTransfer" role="form">
                                <div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="ReferenceNo" class="control-label"></label>
                                                <input asp-for="ReferenceNo" disabled="disabled" class="form-control" />
                                                <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="FromStoreList" class="control-label">Store From</label>
                                                <select asp-for="FromStoreId"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(Model.FromStoreList, "Value", "Text"))">
                                                </select>
                                                <span asp-validation-for="FromStoreId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="ToStoreList" class="control-label">Trasnfer To Store </label>
                                                <select asp-for="ToStoreId"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(Model.ToStoreList, "Value", "Text"))">
                                                </select>
                                                <span asp-validation-for="ToStoreId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="EmployeeList" class="control-label">Resposible Person</label>
                                                <select asp-for="EmployeeId"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(Model.EmployeeList, "Value", "Text"))">
                                                </select>
                                                <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Date" class="control-label"></label>
                                                <input asp-for="Date" type="date" class="form-control" />
                                                <span asp-validation-for="Date" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 style="margin-top:10px">Ingredient Details</h3>
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label asp-for="IngredientList" class="control-label">Ingredient</label>
                                                                <select asp-for="IngredientId"
                                                                        class="form-control"
                                                                        asp-items="@(new SelectList(Model.IngredientList, "Value", "Text"))">
                                                                </select>
                                                                <span asp-validation-for="IngredientId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Quantity</label>
                                                                <input class="form-control text-right" type="text" id="Quantity" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label asp-for="ConsumpationStatus" class="control-label">Status</label>
                                                                <select asp-for="ConsumpationStatus" class="form-control" asp-items="Html.GetEnumSelectList<ConsumpationStatus>()">
                                                                    <option selected="selected" value="">--Select Consumpation--</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label"></label>
                                                                <button id="addRow" class="form-control btn btn-primary" style="margin-top: 7px">Add New</button>
                                                                <input class="form-control" type="hidden" id="InventoryTransferId" value="0" />
                                                                <input asp-for="Id" class="form-control" type="hidden" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label"></label>
                                                                <button id="cancel" class="form-control btn btn-primary" style="margin-top: 7px">cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <table id="InventoryTransferOrderDetail" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:35%">IngredientId</th>
                                                                        <th style="width:35%">Ingredient</th>
                                                                        <th style="width:15%" class="text-right">Quantity</th>
                                                                        <th style="width:35%">ComsumptionStatusId</th>
                                                                        <th style="width:20%" class="text-right">Comsumption STatus</th>
                                                                        <th style="width:25%" class="text-center">Actions</th>
                                                                        <th style="width:25%" class="text-center">InventoryAdjustmentId</th>
                                                                    </tr>
                                                                </thead>
                                                                @if (Model.Id > 0)
                                                                {
                                                                    @foreach (var item in Model.InventoryTransferDetail)
                                                                    {
                                                                        var tm = "#myModal" + item.IngredientId;
                                                                        var mid = "myModal" + item.IngredientId;
                                                                        var rowId = "rowId" + item.IngredientId;
                                                                        <tr id="@rowId">
                                                                            <td>
                                                                                @item.IngredientId
                                                                            </td>
                                                                            <td>
                                                                                @item.IngredientName
                                                                            </td>
                                                                            <td class="text-right">
                                                                                @item.Quantity
                                                                            </td>
                                                                            <td class="text-right">
                                                                                @item.ConsumpationStatus
                                                                            </td>

                                                                            @if (item.ConsumpationStatus.Value.ToString() == "StockIN")
                                                                            {
                                                                                <td class="text-right"> Stock In </td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td class="text-right"> Stock Out </td>
                                                                            }
                                                                            <td>
                                                                                <div class="form-button-action">
                                                                                    <a href="#" data-itemid="@item.IngredientId" class="btn btn-link  editItem"><i class="fa fa-edit"></i></a><a href="#" class="btn btn-link btn-danger" data-toggle="modal" data-target="@tm"><i class="fa fa-times"></i></a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                @item.InventoryTransferId
                                                                            </td>
                                                                        </tr>
                                                                        <div class="modal fade" id=@mid tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                        <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <a id="deleteBtn" data-itemId="@item.IngredientId" onclick="deleteOrder(@item.IngredientId, @rowId)" data-dismiss="modal" class="btn bg-danger mr-1">Delete</a>
                                                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-6">
                                                            <div class="form-group form-inline fc-right">
                                                                <label asp-for="Notes" class="col-md-3 col-form-label">Notes</label>
                                                                <div class="col-md-9 p-0 ">
                                                                    <input type="text" asp-for="Notes" class="form-control input-full text" placeholder="Enter Input">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-4"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-button-action">
                                    <input type="submit" asp-action="InventoryTransferList" value="Cancel" class="btn btn-primary btn-border btn-lg pull-right" />
                                    <input id="saveOrder" type="submit" class="btn btn-primary" value="Save" />
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary ">Ok</button>
                <button type="button" id="ok" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        dataArr = [];
        if (@Model.Id > 0) {
            dataArr = JSON.parse('@Html.Raw(Json.Serialize(Model.InventoryTransferDetail))');
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/Scripts/InventoryTransfer.js"></script>
}
