@using Microsoft.Extensions.Localization;
@model IEnumerable<RocketPOS.Models.InventoryTransferViewModel>
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Stock Transfer");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("InventoryTransfer");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h5 class="card-title">Stock Transfer</h5>
            </div>
            <div class="float-right">
                <a asp-action="InventoryTransfer" asp-route-inventoryType="1" class="pull-right btn btn-primary">+ Stock Transfer</a>
                @*<div class="col-md-4"><a asp-action="InventoryTransfer" asp-route-inventoryType="2" class="pull-right btn btn-primary">Add Inventory Ingredient Transfer</a></div>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <input id="fromDate" type="date" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input id="toDate" type="date" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <a id="btnLoadData" onclick="return loadTransferList();" class="btn btn-outline-light" data-dismiss="modal">Load</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <div class="table-responsive">
                <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="col-sm-12">
                        <table id="@SharedLocalizer.GetLocalizedHtmlString("InventoryTransfer")" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                            <thead>
                                <tr role="row">
                                    <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Number")</th>
                                    <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Crated On")</th>
                                    <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Creator")</th>
                                    <th style="width:30%" rowspan="1" colspan="1">@Html.DisplayName("From Store")</th>
                                    <th style="width:30%" rowspan="1" colspan="1">@Html.DisplayName("To Store")</th>
                                    @*<th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Action")</th>*@
                                    <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("View")</th>
                            </thead>
                            <tfoot>
                                <tr role="row">
                                    <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Number")</th>
                                    <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Crated On")</th>
                                    <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Creator")</th>
                                    <th style="width:30%" rowspan="1" colspan="1">@Html.DisplayName("From Store")</th>
                                    <th style="width:30%" rowspan="1" colspan="1">@Html.DisplayName("To Store")</th>
                                    @*<th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Action")</th>*@
                                    <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("View")</th>

                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var tm = "#myModal" + item.Id;
                                    var mid = "myModal" + item.Id;
                                    <tr role="row">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReferenceNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date, "{0:d}")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FromStoreName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ToStoreName)
                                        </td>
                                        @*<td>
                                            <div class="form-button-action">
                                                <a asp-action="InventoryTransfer" asp-route-Id="@item.Id" asp-route-type="Edit">Edit</a>
                                                <label> / </label>
                                                <a href="#" data-toggle="modal" data-target="@tm">Delete</a>
                                            </div>
                                        </td>*@
                                        <td>
                                            <div class="form-button-action">
                                                <a asp-action="InventoryTransfer" asp-route-Id="@item.Id" asp-route-type="View">View</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                                </div>
                                                <div class="modal-footer">
                                                    <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var myDate = new Date();
            var fdate = myDate.getFullYear() + '-' + ('01') + '-' + ('01');
            var tdate = myDate.getFullYear() + '-' + ('0' + (myDate.getMonth() + 1)).slice(-2) + '-' + ('0' + myDate.getDate()).slice(-2);

            $("#fromDate").val(fdate);
            $("#toDate").val(tdate);
            InventoryTransfer = $('#@dataTableName').DataTable();
            loadTransferList();
        });

        function loadTransferList() {
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/InventoryTransfer/InventoryTransferListByDate?fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val(),
                dataType: "json",
                type: "GET",
                success: function (data) {
                    if (InventoryTransfer != null) {
                        InventoryTransfer.clear();
                        InventoryTransfer.destroy();
                    }

                    InventoryTransfer = $("#InventoryTransfer").DataTable({
                        "data": data.inventoryTransfer,
                        "columns": [
                            { "data": "referenceNo", "name": "Number", "autoWidth": true },
                            { "data": "date", "name": "Created By", "autoWidth": true },
                            { "data": "username", "name": "Username", "autoWidth": true },
                            { "data": "fromStoreName", "name": "From Store", "autoWidth": true },
                            { "data": "toStoreName", "name": "To Store", "autoWidth": true },
                            //{
                            //    data: null,
                            //    mRender: function (data, type, row) {
                            //        return '<div class="form-button-action"><a  href="/InventoryTransfer/InventoryTransfer/' + row.id + '?inventoryType=' + row.inventoryType +'&type=Edit">Edit</a>' +
                            //            ' / <a href="#" data-toggle="modal" data-target="#myModal' + row.id + '">Delete</a> ' +
                            //            '<div class="modal fade" id=myModal' + row.id + ' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">' +
                            //            '<div class= "modal-dialog" > <div class="modal-content"><div class="modal-header"><h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div><div class="modal-body">' +
                            //            'Are you sure want to delete this item?</div><div class="modal-footer"><a id="deleteBtn" data-itemId="' + row.id + '" onclick="deleteTransferDetail(' + row.id + ')" data-dismiss="modal" class="btn bg-danger mr-1">Delete</a><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div></div></div></div></div>'
                            //    },
                            //},
                            {
                                data: null,
                                mRender: function (data, type, row) {
                                    return '<div class="form-button-action"><a  href="/InventoryTransfer/InventoryTransfer/' + row.id + '?inventoryType=' + row.inventoryType +'&type=View">View</a></div>'
                                },
                            }
                        ],
                        columnDefs: [
                            { targets: [5], orderable: false }
                        ],
                        "bLengthChange": true,
                        "bInfo": true,
                        "bFilter": true,
                        "ordering": true,
                        "autoWidth": false,
                        "orderCellsTop": true,
                        "stateSave": false,
                        "pageLength": 200,
                        "lengthMenu": [
                            [200, 500, 1000],
                            ['200', '500', '1000']
                        ],
                    });
                },
                error: function (err) {

                }
            });
        }

        function deleteTransferDetail(id) {
            $.ajax({
                url: "/InventoryTransfer/Delete/" + id,
                data: {},
                dataType: "json",
                success: function (data) {
                    loadTransferList();
                },
                error: function (data) {
                    loadTransferList();
                }
            });
        };
    </script>
}
