@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.InventoryTransferModel
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@section Styles {
    <link href="@Url.Content("~/Styles/print.css")" rel="stylesheet" type="text/css" />
}
@{
    Layout = "";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag
    https://bootsnipp.com/snippets/9gjD
   https://plnkr.co/edit/lWk6Yd?preview ---------->

<div id="CateringReport" class="container">
    <div class="row">
        <div style="background-color:#F7F7F7">
            <div class="col-md-11">
                <h5 class="card-title">
                    Stock OUT
                </h5>
            </div>
            @*<div class="float-right">
                    <input type="button" value="Print" class="btn btn-primary btn-sm float-left" onclick=' return printDiv();'>
                </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h4>
                    From: @Model.FromStoreName To: @Model.ToStoreName
                </h4>
            </div>
            <div class="row mb-4">
                <div class="col-xs-9">
                    @*<address>
                            <strong></strong>@Model.SupplierAddress1<br>
                            <strong></strong>@Model.SupplierAddress2<br>
                            <strong></strong>@Model.SupplierPhone<br>
                            <strong></strong>@Model.SupplierEmail<br>
                        </address>*@
                </div>

                <div class="col-xs-3 text-right">
                    <address>
                        <strong>No: </strong>@Model.ReferenceNo<br>
                        <strong>Date  :  </strong>@Model.Date.ToShortDateString()<br>
                        @*<strong>From Store :  </strong>@Model.FromStoreName<br>
                        <strong>To Store :  </strong>@Model.ToStoreName<br>*@
                    </address>
                </div>
            </div>
        </div>
    </div>

    @if (Model.InventoryTransferDetail.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:25%">Product</th>
                                    <th style="width:8%" class="text-right">Qty </th>
                                    <th style="width:10%" class="text-right">CurrentStock</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.InventoryTransferDetail)
                                {
                                    var tm = "#myAModal" + item.InventoryTransferId;
                                    var mid = "myAModal" + item.InventoryTransferId;
                                    var rowId = "rowId" + item.InventoryTransferId;
                                    <tr id="@rowId">
                                        @if (Model.InventoryType == 1)
                                        {
                                            <td>
                                                @item.FoodMenuName
                                            </td>
                                        }
                                        @if (Model.InventoryType == 2)
                                        {
                                            <td>
                                                @item.IngredientName
                                            </td>
                                        }
                                        <td class="text-right">
                                            @item.Quantity.ToString("0.00") @item.UnitName
                                        </td>
                                        <td class="text-right">
                                            @item.CurrentStock.ToString("0.00")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 ">
            <div class="col-sm-6 text-left">
                @if (Model.Notes != null)
                {
                    <div><strong>Notes : </strong> @Model.Notes</div>
                }
            </div>
        </div>
    </div>

</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
