@using Microsoft.Extensions.Localization;
@model IEnumerable<RocketPOS.Models.ProductionEntryViewModel>
@inject IStringLocalizer<RocketPOS.Resources.RocketPOSResources> SharedLocalizer;
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("ProductionEntry");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("ProductionEntryTable");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h5 class="card-title">Production Entries</h5>
            </div>
            <div class="col-md-1 pl-0 pr-0">
                <div class="form-check form-switch">
                    @if (((int)TempData["foodMenuType"]) == 2)
                    {
                        <input class="form-check-input" type="checkbox" id="onthespot" checked="checked" onchange="return loadProductionEntryList();" />
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" id="onthespot" onchange="return loadProductionEntryList();" />

                    }
                    <label class="form-check-label" for="flexSwitchCheckChecked">On the Spot</label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="float-right">
                    <a onclick="return AddProductionEntry();" class="btn btn-primary float-sm-left ">Add</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="ProductionEntryTable" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead role="row">
                        <tr>
                            <th style="width:10%">@Html.DisplayName("Number")</th>
                            <th style="width:30%">@Html.DisplayName("Recipe Name")</th>
                            <th style="width:10%">@Html.DisplayName("Date")</th>
                            <th style="width:12%">@Html.DisplayName("Actual Batch Size")</th>
                            <th style="width:12%">@Html.DisplayName("Status")</th>
                            <th style="width:10%">@Html.DisplayName("Creator")</th>
                            <th style="width:10%">@Html.DisplayName("Action")</th>
                            <th style="width:8%">@Html.DisplayName("View")</th>
                        </tr>
                    </thead>
                    <tfoot role="row">
                        <tr>
                            <th style="width:10%">@Html.DisplayName("Number")</th>
                            <th style="width:30%">@Html.DisplayName("Recipe Name")</th>
                            <th style="width:10%">@Html.DisplayName("Date")</th>
                            <th style="width:12%">@Html.DisplayName("Actual Batch Size")</th>
                            <th style="width:12%">@Html.DisplayName("Status")</th>
                            <th style="width:10%">@Html.DisplayName("Creator")</th>
                            <th style="width:10%">@Html.DisplayName("Action")</th>
                            <th style="width:8%">@Html.DisplayName("View")</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tm = "#myModal" + item.Id;
                            var mid = "myModal" + item.Id;

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReferenceNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductionFormulaName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductionDate)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.ActualBatchSize)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    <div class="form-button-action">
                                        <a asp-action="ProductionEntry" asp-route-Id="@item.Id" asp-route-foodMenuType="@item.FoodmenuType" asp-route-type="Edit">Edit</a>
                                        <label> / </label>
                                        <a href="#" data-toggle="modal" data-target="@tm">Delete</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-button-action">
                                        <a asp-action="ProductionEntry" asp-route-Id="@item.Id" asp-route-foodMenuType="@item.FoodmenuType" asp-route-type="View">View</a>
                                    </div>
                                </td>
                            </tr>
                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var ProductionEntryTable = null;
        $(document).ready(function () {
            ProductionEntryTable = $('#@dataTableName').DataTable();
            loadProductionEntryList();
        });

        function loadProductionEntryList() {
            debugger;

            var foodMenuType;
            var isonthesport = $("#onthespot").is(":checked");
            if (isonthesport == true) {
                foodMenuType = 2;
            }
            else {
                foodMenuType = 3;
            }



            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/ProductionEntry/GetProductionEntryList?foodMenuType=" + foodMenuType,
                dataType: "json",
                type: "GET",
                success: function (data) {
                    if (ProductionEntryTable != null) {
                        ProductionEntryTable.clear();
                        ProductionEntryTable.destroy();
                    }
                    ProductionEntryTable = $("#ProductionEntryTable").DataTable({
                        "data": data.productionEntryList,
                        "columns": [
                            { "data": "referenceNo", "name": "ReferenceNo", "autoWidth": true },
                            { "data": "productionFormulaName", "name": "ProductionFormulaName", "autoWidth": true },
                            { "data": "productionDate", "name": "ProductionDate", "autoWidth": true },
                            { "data": "actualBatchSize", "name": "ActualBatchSize", "autoWidth": true },
                            {
                                data: null,
                                mRender: function (data, type, row) {
                                    if (row.status == 3) {
                                        return '<div class="form-button-action">Completed</div>'
                                    } else if (row.status == 2) {
                                        return '<div class="form-button-action">In Progress</div>'
                                    } else {
                                        return '<div class="form-button-action">Save As Draft</div>'
                                    }
                                },
                            },
                            { "data": "username", "name": "Creator", "autoWidth": true },
                            {
                                data: null,
                                mRender: function (data, type, row) {
                                    if (row.status == 3) {
                                        return '<div class="form-button-action"><a href="/ProductionEntry/ProductionEntry/' + row.id + '?foodMenuType=' + row.foodmenuType + '&type=Edit">Edit</a></div>'
                                        }
                                    else {
                                        return '<div class="form-button-action"><a href="/ProductionEntry/ProductionEntry/' + row.id + '?foodMenuType=' + row.foodmenuType + '&type=Edit">Edit</a>'+
                                         ' / <a href="#"  data-toggle="modal" data-target="#myModal' + row.id + '">Delete</a> ' +
                                            '<div class="modal fade" id=myModal' + row.id + ' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">' +
                                            '<div class= "modal-dialog" > <div class="modal-content"><div class="modal-header"><h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div><div class="modal-body">' +
                                            'Are you sure want to delete this item?</div><div class="modal-footer"><a id="deleteBtn" data-itemId="' + row.id + '" onclick="deleteProductionEntry(' + row.id + ')" data-dismiss="modal" class="btn bg-danger mr-1">Delete</a><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div></div></div></div></div>'
                                        }
                                },
                            },
                            {
                                data: null,
                                mRender: function (data, type, row) {
                                    return '<div class="form-button-action"><a href="/ProductionEntry/ProductionEntry/' + row.id + '?foodMenuType=' + row.foodmenuType + '&type=View">View</a></div>'
                                },
                            }
                        ],
                        columnDefs: [
                            {
                                targets: [4], orderable: false,
                                targets: [3], orderable: false, class: "text-right",
                            }
                        ],
                        "bLengthChange": true,
                        "bInfo": true,
                        "bFilter": true,
                        "ordering": true,
                        "autoWidth": false,
                        "orderCellsTop": true,
                        "stateSave": false,
                        "pageLength": 200,
                        "lengthMenu": [
                            [200, 500, 1000],
                            ['200', '500', '1000']
                        ],
                    });
                },
                error: function (err) {

                }
            });
        }


        function AddProductionEntry() {
            var foodMenuType;
            var isonthesport = $("#onthespot").is(":checked");
            if (isonthesport == true) {
                foodMenuType = 2;
            }
            else {
                foodMenuType = 3;
            }
            window.location.href = "/ProductionEntry/ProductionEntry?foodMenuType=" + foodMenuType;
        }

        function deleteProductionEntry(id) {
            $.ajax({
                url: "/ProductionEntry/Delete/" + id,
                data: {},
                dataType: "json",
                success: function (data) {
                    loadProductionEntryList();
                },
                error: function (data) {
                    loadProductionEntryList();
                }
            });
        };

    </script>
}
