@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.ProductionEntryModel
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="card-title">Production Entry</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="onthespot" checked="checked" disabled="disabled" />
                            <label class="form-check-label" for="flexSwitchCheckChecked">On the Spot</label>
                            <input asp-for="FoodmenuType" class="form-control" hidden="hidden" />
                            <input asp-for="Id" class="form-control" type="hidden" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="ProductionEntry" method="post" id="productionEntryForm" role="form">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-md-4 pr-2 pl-2">
                                            <div class="form-group">
                                                <label asp-for="ProductionFormulaName" class="control-label">Formula Name</label>
                                                <select asp-for="ProductionFormulaId"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(Model.ProductionFormulaList, "Value", "Text"))" onchange="return loadProductionFormula();">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 pr-2 pl-2">
                                            <div class="form-group">
                                                <label asp-for="BatchSize" class="control-label">Batch Size</label>
                                                <input asp-for="BatchSize" class="form-control" style="text-align:right"  disabled="disabled" />
                                                <span asp-validation-for="BatchSize" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-1 pr-2 pl-2">
                                            <div class="form-group">
                                                <label asp-for="BatchSizeUnitName" class="control-label" style="margin-top: 28px">@(Model.BatchSizeUnitName)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 pr-2 pl-2">
                                            <div class="form-group">
                                                <label asp-for="ProductionDate" class="control-label">Production Date</label>
                                                <input asp-for="ProductionDate" type="date" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 pr-2 pl-2">
                                            <div class="form-group">
                                                <label class="control-label">Actual Batch Size </label>
                                                <input asp-for="ActualBatchSize" type="number" placeholder="0.00" class="form-control " style="text-align:right" />
                                                <span asp-validation-for="ActualBatchSize" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-1 pr-2 pl-2">
                                            <div class="form-group">
                                                <label class="control-label" style="margin-top: 28px">@(Model.BatchSizeUnitName)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 pr-2 pl-2">
                                            <table id="EntryFoodMenu" width="100%" autowidth="true" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                                <thead>
                                                    <tr>
                                                        <th style="width:0%">PEFoodMenuId</th>
                                                        <th style="width:0%">FoodMenuId</th>
                                                        <th style="width:45%">Menu Item</th>
                                                        <th style="width:15%" class="text-right">Expected</th>
                                                        <th style="width:20%" class="text-right">Allocation </th>
                                                        <th style="width:20%" class="text-right">Actual</th>
                                                        @*<th style="width:15%">Action</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.productionEntryFoodMenuModels != null)
                                                    {
                                                        @foreach (var item in Model.productionEntryFoodMenuModels)
                                                        {
                                                            var tm = "#myModal" + item.FoodMenuId;
                                                            var mid = "myModal" + item.FoodMenuId;
                                                            var rowId = "rowId" + item.FoodMenuId;
                                                            <tr id="@rowId">
                                                                <td>
                                                                    @item.PEFoodMenuId
                                                                </td>
                                                                <td>
                                                                    @item.FoodMenuId
                                                                </td>
                                                                <td>
                                                                    @item.FoodMenuName
                                                                </td>
                                                                <td class="text-right">
                                                                    @item.ExpectedOutput.ToString("N") @item.FoodMenuUnitName
                                                                </td>
                                                                <td class="text-right">
                                                                    <input type="number" id="allocateOut" asp-for="@item.AllocationOutput" id="AllocationOutput" onkeyup="return calculateSum();" class="form-control col-sm-11 text-right AllocationOutput" min="0" max="99999" value="@item.AllocationOutput" />
                                                                </td>
                                                                <td class="text-right">
                                                                    <input type="number" id="actualOut" asp-for="@item.ActualOutput" id="ActualOutput" class="form-control col-sm-11 text-right" min="0" max="99999" value="@item.ActualOutput" />
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="col-md-12 pr-2 pl-2">
                                        <table id="EntryIngredient" width="100%" autowidth="true" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                            <thead>
                                                <tr>
                                                    <th style="width:0%">PEIngredientId</th>
                                                    <th style="width:0%">IngredientId</th>
                                                    <th style="width:50%">Stock Item</th>
                                                    <th style="width:15%">Qty</th>
                                                    <th style="width:15%">Actual Qty</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.productionEntryIngredientModels != null)
                                                {
                                                    @foreach (var item in Model.productionEntryIngredientModels)
                                                    {
                                                        var tm = "#myModal" + item.IngredientId;
                                                        var mid = "myModal" + item.IngredientId;
                                                        var rowId = "rowId" + item.IngredientId;
                                                        <tr id="@rowId">
                                                            <td>
                                                                @item.PEIngredientId
                                                            </td>
                                                            <td>
                                                                @item.IngredientId
                                                            </td>
                                                            <td>
                                                                @item.IngredientName
                                                            </td>
                                                            <td class="text-right">
                                                                @item.IngredientQty.ToString("N") @item.IngredientUnitName
                                                            </td>
                                                            <td class="text-right">
                                                                @item.ActualIngredientQty.ToString("N")
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pl-2 pr-2">
                                    <div class="form-group form-inline">
                                        <label asp-for="Notes" class="col-form-label ">Note </label>
                                        <textarea asp-for="Notes" class="form-control input-full text-left" rows="2" cols="140"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-inline">
                                        <label asp-for="VariationNotes" class="col-form-label ">Variation</label>
                                        <textarea asp-for="VariationNotes" class="form-control input-full text-left" readonly="readonly" rows="2" cols="140"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                @if (ViewBag.ActionType != "View")
                                {
                                    @if (Model.Status == 0 || Model.Status == 1)
                                    {
                                        <input type="submit" id="saveOrder" value="Save As Draft" class="btn btn-primary" />
                                        <input type="submit" id="inProgress" value="In Progress" class="btn btn-primary" />
                                    }
                                    @if (Model.Status == 2)
                                    {
                                        <input type="submit" id="inProgress" value="In Progress" class="btn btn-primary" />
                                        <input type="submit" id="completed" value="Completed" class="btn btn-primary" />
                                 }
                                }
                                <a href='@Url.Action("Index", "ProductionEntry")' class="btn btn-primary" style="margin:0px 0px 0px 0px">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary ">Ok</button>
                <button type="button" id="ok" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        foodMenuDataArr = []
        ingredientDataArr = []
        if (@Model.Id>0){
            @*foodMenuDataArr = JSON.parse('@Html.Raw(Json.Serialize(Model.productionEntryFoodMenuModels))');
            ingredientDataArr = JSON.parse('@Html.Raw(Json.Serialize(Model.productionEntryIngredientModels))');*@
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
    <script src="~/Scripts/ProductionEntry.js"></script>
}
