@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.FoodMenuRateModel;

@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("FoodMenu Rate");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("FoodMenuRate");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">FoodMenu Rate</h5>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1">
                    <label asp-for="FoodCategoryList" class="control-label pl-2">Category</label>
                </div>
                <div class="col-md-4">
                    @if (Model != null)
                    {
                        <select asp-for="FoodCategoryId" class="form-control"
                                asp-items="@(new SelectList(Model.FoodCategoryList, "Value", "Text"))">
                        </select>
                    }
                </div>
                <div class="col-md-2">
                    <input id="load" onclick="return loadFoodMenuRateList();" type="submit" class="btn btn-outline-dark" value="Load" />
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-2">
                    <input id="saveFoodMenuRate" onclick="return UpdateFoodMenuRateList();" type="submit" class="btn btn-primary" value="Save Changes" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="@SharedLocalizer.GetLocalizedHtmlString(" FoodMenuRate")" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead>
                        <tr>
                            <th style="width:10%"></th>
                            <th style="width:40%">FoodMenu Name</th>
                            <th style="width:25%">Outlet</th>
                            <th style="width:15%">Sales Price</th>
                            <th style="width:15%">IsActive</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.foodMenuRates != null)
                        {
                            @foreach (var item in Model.foodMenuRates)
                            {
                                <tr role="row">
                                    <td>
                                        <input asp-for="@item.Id" class="form-control" type="hidden" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FoodMenuName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OutletName)
                                    </td>
                                    <td class="text-right">
                                        <input type="number" asp-for="@item.SalesPrice" class="form-control col-sm-6" min="0" max="99999" value="@item.SalesPrice" />
                                    </td>
                                    <td>
                                        <input asp-for="@item.IsActive" type="checkbox" class="form-check-input" style="margin: 5Px 0 0 0px"/>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />

@section Scripts {
    <script>
        $(document).ready(function () {
            FoodMenuRate = $('#@dataTableName').DataTable();
        });

        function loadFoodMenuRateList() {
            window.location.href = "/FoodMenuRate/Index?foodCategoryId=" + $("#FoodCategoryId").val();
            //$.ajaxSetup({ cache: false });
            //$.ajax({
            //    url: "/FoodMenuRate/GetFoodMenuRateList?foodCategoryId=" + $("#FoodCategoryId").val(),
            //    dataType: "json",
            //    type: "GET",
            //    success: function (data) {
                    //if (FoodMenuRate != null) {
                    //    FoodMenuRate.clear();
                    //    FoodMenuRate.destroy();
                    //}
                    //FoodMenuRate = $("#FoodMenuRate").DataTable({
                    //    "data": data.foodMenuRate,
                    //    "columns": [
                    //        { "data": "id", "name": "Number", "autoWidth": true },
                    //        { "data": "outletName", "name": "OutletName", "autoWidth": true },
                    //        { "data": "foodMenuName", "name": "FoodMenuName", "autoWidth": true },
                    //        {
                    //            data: null,
                    //            mRender: function (data, type, row) {
                    //                return '<input type="textbox" name="txtSalesPrice" value="'+row.salesPrice+ '">';
                    //            },
                    //        },
                    //        {
                    //            data: null,
                    //            mRender: function (data, type, row) {
                    //                return '<input type="checkbox" name="chkIsActive" checked=' + row.isActive  + '>';
                    //            },
                    //        }
                    //    ],
                    //    columnDefs: [
                    //        {
                    //            "targets": [0],
                    //            "visible": false,
                    //            "searchable": false
                    //        }
                    //    ],
                    //    "bLengthChange": true,
                    //    "bInfo": true,
                    //    "bFilter": true,
                    //    "ordering": true,
                    //    "autoWidth": false,
                    //    "orderCellsTop": true,
                    //    "stateSave": false,
                    //    "pageLength": 200,
                    //    "lengthMenu": [
                    //        [200, 500, 1000],
                    //        ['200', '500', '1000']
                    //    ],
                    //});
            //    },
            //    error: function (err) {

            //    }
            //});
        }


        function UpdateFoodMenuRateList() {

            var foodMenuRate = new Array();

            $("#FoodMenuRate tbody tr").each(function () {
                var tds = $(this).find("td");

                var foodMenu = ({
                    Id: parseInt($(tds[0]).find("#item_Id").val()),
                    OutletId: 0,
                    OutletName: "",
                    FoodMenuId: 0,
                    FoodMenuName: "",
                    SalesPrice: $(tds[3]).find("#item_SalesPrice").val(),
                    IsActive: $(tds[4]).find("#item_IsActive").is(":checked")
                });
                foodMenuRate.push(foodMenu);
            });

            var jsonstr = JSON.stringify(foodMenuRate);
            //jsonstr = JSON.parse(jsonstr);
            $.ajax({
                dataType: "text",
                type: "post",
                url: "/FoodMenuRate/UpdateFoodMenuRateList",
                data:{ 'foodMenuRate': jsonstr},
                timeout: 0,
                success: function (response) {
                    window.location.href = "/FoodMenuRate/Index";
                },
                error: function (err) {

                }
            });
        }

    </script>
}

<script src="~/Scripts/FoodMenuRate.js"></script>
