@using Microsoft.Extensions.Localization;
@model IEnumerable<RocketPOS.Models.FoodMenuCatagoryModel>

@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("FoodMenu Category");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("FoodMenuCategory");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-11">
                <h5 class="card-title">Menu Categories</h5>
            </div>
            <div class="float-right">
                @if (@UserRolePermissionForPage.Add == true)
                {
                    <a asp-action="FoodMenuCategory" class="btn btn-primary float-sm-left ">Add</a>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="@SharedLocalizer.GetLocalizedHtmlString("FoodMenuCategory")" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead row="roor">
                        <tr>
                            <th>
                                @Html.DisplayName("Menu Category")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Notes)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th>@Html.DisplayName("Action")</th>
                        </tr>
                    </thead>
                    <tfoot row="roor">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FoodMenuCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Notes)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th>@Html.DisplayName("Action")</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tm = "#myModal" + item.Id;
                            var mid = "myModal" + item.Id;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoodMenuCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Notes)
                                </td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        @Html.DisplayName("True")
                                    }
                                    else
                                    {
                                        @Html.DisplayName("False")
                                    }
                                </td>
                                <td>
                                    <div class="form-button-action">
                                        @if (@UserRolePermissionForPage.Edit == true)
                                        {
                                            <a asp-action="FoodMenuCategory" asp-route-Id="@item.Id">Edit   <i class="fa fa-edit"></i></a>
                                            <label> / </label>
                                        }
                                        @if (@UserRolePermissionForPage.Delete == true)
                                        {
                                            <a href="#" class="fa fa-trash-alt" data-toggle="modal" data-target="@tm">Delete   <i class="fa fa-times"></i></a>
                                        }
                                    </div>

                                </td>
                            </tr>
                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="bModal" tabindex="-1" role="dialog" aria-labelledby="bModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="bModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" value="Ok" data-dismiss="modal" onclick="@("window.location.href='" + @Url.Action("Index", "FoodmenuCategory") + "'");" />
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $("#bModal").modal('show');
        </script>

    }
}


@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#@dataTableName').DataTable({
                dom: 'Bfrtip',
                "buttons": [{
                    extend: 'excel',
                    exportOptions: { columns: [0, 1, 2] },
                    filename: function() {
                        var d = new Date();
                        var date = d.getFullYear() + '_' + ('0' + (d.getMonth() + 1)).slice(-2) + '_' + ('0' + d.getDate()).slice(-2);
                        var n = d.getTime();
                        return 'MenuItem_Category_' + date + '_' + n;
                    },
                     }],
                "bLengthChange": true,
                        "bInfo": true,
                        "bFilter": true,
                        "ordering": true,
                        "autoWidth": false,
                        "orderCellsTop": true,
                        "stateSave": false,
                        "pageLength": 50,
                        "lengthMenu": [
                            [50, 100, 200, 500],
                            ['50', '100', '200', '500']
                        ],
            });
        });
    </script>
}
