@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.FoodMenuModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using  RocketPOS.Resources
@inject LocService SharedLocalizer

<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Manage Food Menu</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="FoodMenu" method="post" role="form">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="FoodCategoryList" class="control-label">Food Menu Category</label>
                                            @if (Model != null)
                                            {
                                                <select asp-for="FoodCategoryId" class="form-control"
                                                        asp-items="@(new SelectList(Model.FoodCategoryList, "Value", "Text"))">
                                                </select>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FoodMenuName" class="control-label"></label>
                                            <input asp-for="FoodMenuName" class="form-control" />
                                            <span asp-validation-for="FoodMenuName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FoodMenuCode" class="control-label"></label>
                                            <input asp-for="FoodMenuCode" class="form-control" />
                                            <span asp-validation-for="FoodMenuCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ColourCode" class="control-label"></label>
                                            <input asp-for="ColourCode" class="form-control" />
                                            <span asp-validation-for="ColourCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BigThumb" class="control-label"></label>
                                            <input asp-for="BigThumb" class="form-control" />
                                            <span asp-validation-for="BigThumb" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MediumThumb" class="control-label"></label>
                                            <input asp-for="MediumThumb" class="form-control" />
                                            <span asp-validation-for="MediumThumb" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="SmallThumb" class="control-label"></label>
                                            <input asp-for="SmallThumb" class="form-control" />
                                            <span asp-validation-for="SmallThumb" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Notes" class="control-label"></label>
                                            <input asp-for="Notes" class="form-control" />
                                            <span asp-validation-for="Notes" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SalesPrice" class="control-label"></label>
                                            <input asp-for="SalesPrice" class="form-control" />
                                            <span asp-validation-for="SalesPrice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FoodVat" class="control-label"></label>
                                            <input asp-for="FoodVat" class="form-control" />
                                            <span asp-validation-for="FoodVat" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Foodcess" class="control-label"></label>
                                            <input asp-for="Foodcess" class="form-control" />
                                            <span asp-validation-for="Foodcess" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Position" class="control-label"></label>
                                            <input asp-for="Position" class="form-control" />
                                            <span asp-validation-for="Position" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="IsVegItem" class="control-label"></label>
                                            <input asp-for="IsVegItem" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="IsBeverages" class="control-label"></label>
                                            <input asp-for="IsBeverages" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OfferIsAvailable" class="control-label"></label>
                                            <input asp-for="OfferIsAvailable" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Position" class="control-label"></label>
                                            <input asp-for="Position" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OutletId" class="control-label"></label>
                                            <input asp-for="OutletId" class="form-control" />
                                        </div>

                                        @if (Model != null)
                                        {
                                            @if (Model.Id > 0)
                                            {

                                                <div class="form-group">
                                                    <label asp-for="IsActive" class="control-label"></label>
                                                    <input asp-for="IsActive" class="form-control" />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <hr />
                                <h3>Food Manu Details</h3>
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label asp-for="IngredientList" class="control-label">Ingredient</label>
                                                                <select asp-for="IngredientId"
                                                                        class="form-control"
                                                                        asp-items="@(new SelectList(Model.IngredientList, "Value", "Text"))">
                                                                </select>
                                                                <span asp-validation-for="IngredientId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Consumption</label>
                                                                <input class="form-control text-right" type="text" placeholder="0.00" id="Consumption" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label"></label>
                                                                <button id="addRow" class="form-control btn btn-primary" style="margin-top: 7px">Add New</button>
                                                                <input class="form-control" type="hidden" id="FoodMenuId" value="0" />
                                                                <input asp-for="Id" class="form-control" type="hidden" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label"></label>
                                                                <button id="cancel" class="form-control btn btn-primary" style="margin-top: 7px">cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <table id="FoodManuDetails" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:35%">IngredientId</th>
                                                                        <th style="width:35%">Ingredient</th>
                                                                        <th style="width:15%" class="text-right">Consumption</th>
                                                                        <th style="width:35%">Actions</th>
                                                                        <th style="width:10%">FoodMenuId</th>
                                                                    </tr>
                                                                </thead>
                                                                @if (Model.Id > 0)
                                                                {
                                                                    @foreach (var item in Model.FoodMenuDetails)
                                                                    {
                                                                        var tm = "#myModal" + item.IngredientId;
                                                                        var mid = "myModal" + item.IngredientId;
                                                                        var rowId = "rowId" + item.IngredientId;
                                                                        <tr id="@rowId">
                                                                            <td>
                                                                                @item.IngredientId
                                                                            </td>
                                                                            <td>
                                                                                @item.IngredientName
                                                                            </td>
                                                                            <td class="text-right">
                                                                                @item.Consumption
                                                                            </td>
                                                                            <td>
                                                                                <div class="form-button-action">
                                                                                    <a href="#" data-itemid="@item.IngredientId" class="btn btn-link  editItem"><i class="fa fa-edit"></i></a><a href="#" class="btn btn-link btn-danger" data-toggle="modal" data-target="@tm"><i class="fa fa-times"></i></a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                @item.FoodMenuId
                                                                            </td>
                                                                        </tr>
                                                                        <div class="modal fade" id=@mid tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                        <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <a id="deleteBtn" data-itemId="@item.IngredientId" onclick="deleteOrder(@item.IngredientId, @rowId)" class="btn bg-danger mr-1" data-dismiss="modal">Delete</a>
                                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if (Model != null)
                                    {
                                        @if (Model.Id > 0)
                                        {
                                            <input id="saveOrder" type="submit" value="Edit" class="btn btn-primary btn-sm" />
                                        }
                                        else
                                        {
                                            <input id="saveOrder" type="submit" value="Add" class="btn btn-primary btn-sm" />
                                        }
                                    }
                                    <input type="submit" asp-action="Index" value="Cancel" class="btn btn-primary btn-sm" />

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
    dataArr = []
    if (@Model.Id > 0) {
    dataArr = JSON.parse('@Html.Raw(Json.Serialize(Model.FoodMenuDetails))');
    }
    </script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/Scripts/FoodManu.js"></script>
}

