@using Microsoft.Extensions.Localization;
@using RocketPOS.Framework;
@model RocketPOS.Models.FoodMenuModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using  RocketPOS.Resources
@inject LocService SharedLocalizer

<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Menu Item</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="FoodMenu" method="post" role="form">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="FoodCategoryList" class="control-label">Menu Category</label>
                                            @if (Model != null)
                                            {
                                                <select asp-for="FoodCategoryId" class="form-control"
                                                        asp-items="@(new SelectList(Model.FoodCategoryList, "Value", "Text"))">
                                                </select>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FoodMenuCode" class="control-label">Menu Item Code</label>
                                            <input asp-for="FoodMenuCode" class="form-control" />
                                            <span asp-validation-for="FoodMenuCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FoodMenuName" class="control-label">Menu Item</label>
                                            <input asp-for="FoodMenuName" class="form-control" />
                                            <span asp-validation-for="FoodMenuName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="UnitsList" class="control-label">Unit</label>
                                            @if (Model != null)
                                            {
                                                <select asp-for="UnitsId" class="form-control"
                                                        asp-items="@(new SelectList(Model.UnitsList, "Value", "Text"))">
                                                </select>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="PurchasePrice" class="control-label">Purchase Price</label>
                                            <input asp-for="PurchasePrice" class="form-control" type="number" min="0" max="99999" />
                                            <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SalesPrice" class="control-label">Sales Price</label>
                                            <input asp-for="SalesPrice" class="form-control" type="number" min="0" max="99999" />
                                            <span asp-validation-for="SalesPrice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FoodVatTaxList" class="control-label">Tax</label>
                                            @if (Model != null)
                                            {
                                                <select asp-for="FoodVatTaxId" class="form-control"
                                                        asp-items="@(new SelectList(Model.FoodVatTaxList, "Value", "Text"))">
                                                </select>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Position" class="control-label"></label>
                                            <input asp-for="Position" type="number" min="0" max="99999" class="form-control" />
                                            <span asp-validation-for="Position" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <label asp-for="FoodMenuType" class="control-label">Food Menu Type</label>
                                        <select asp-for="FoodMenuType" class="form-control" asp-items="Html.GetEnumSelectList<FoodMenuType>()">
                                            <option selected="selected" value="">Select</option>
                                        </select>
                                        <span asp-validation-for="FoodMenuType" class="text-danger"></span>
                                        <div class="form-group">
                                            <label asp-for="Notes" class="control-label"></label>
                                            <textarea asp-for="Notes" class="form-control" rows="3"></textarea>
                                            <span asp-validation-for="Notes" class="text-danger"></span>
                                        </div>

                                        @if (Model != null)
                                        {
                                            @if (Model.Id > 0)
                                            {

                                                <div class="form-group">
                                                    <label asp-for="IsActive" class="control-label" style="margin: 10px 0 0 0px"></label>
                                                    <input asp-for="IsActive" class="form-check-input" style="margin: 12Px 0 0 24px" />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div>
                                        @if (Model.Id > 0)
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                        <a href='@Url.Action("Index", "FoodMenu")' class="btn btn-primary" style="margin:0px 0px 0px 5px">Cancel</a>
                                    </div>
                                    @*<h5>Food Menu Details</h5>
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label asp-for="IngredientList" class="control-label">Ingredient</label>
                                                                        <select asp-for="IngredientId"
                                                                                class="form-control"
                                                                                asp-items="@(new SelectList(Model.IngredientList, "Value", "Text"))">
                                                                        </select>
                                                                        <span asp-validation-for="IngredientId" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <label class="control-label">Consumption</label>
                                                                        <input class="form-control text-right" type="text" placeholder="0.00" id="Consumption" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <label class="control-label"></label>
                                                                        <button id="addRow" class="form-control btn btn-primary" style="margin-top: 7px">Add New</button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <label class="control-label"></label>
                                                                        <button id="cancel" class="form-control btn btn-primary" style="margin-top: 7px">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr />
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    <table id="FoodManuDetails" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="width:5%">IngredientId</th>
                                                                                <th style="width:35%">Ingredient</th>
                                                                                <th style="width:15%" class="text-right">Consumption</th>
                                                                                <th style="width:35%">Actions</th>
                                                                                <th style="width:10%">FoodMenuId</th>
                                                                            </tr>
                                                                        </thead>
                                                                        @if (Model.Id > 0)
                                                                        {
                                                                            @foreach (var item in Model.FoodMenuDetails)
                                                                            {
                                                                                var tm = "#myModal" + item.IngredientId;
                                                                                var mid = "myModal" + item.IngredientId;
                                                                                var rowId = "rowId" + item.IngredientId;
                                                                                <tr id="@rowId">
                                                                                    <td>
                                                                                        @item.IngredientId
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.IngredientName
                                                                                    </td>
                                                                                    <td class="text-right">
                                                                                        @item.Consumption
                                                                                    </td>
                                                                                    <td>
                                                                                        <div class="form-button-action">
                                                                                            <a href="#" data-itemid="@item.IngredientId" class="btn btn-link  editItem"><i class="fa fa-edit"></i></a><a href="#" class="btn btn-link btn-danger" data-toggle="modal" data-target="@tm"><i class="fa fa-times"></i></a>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.FoodMenuId
                                                                                    </td>
                                                                                </tr>
                                                                                <div class="modal fade" id=@mid tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                                    <div class="modal-dialog">
                                                                                        <div class="modal-content">
                                                                                            <div class="modal-header">
                                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                                                                            </div>
                                                                                            <div class="modal-body">
                                                                                                @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <a id="deleteBtn" data-itemId="@item.IngredientId" onclick="deleteOrder(@item.IngredientId, @rowId)" class="btn bg-danger mr-1" data-dismiss="modal">Delete</a>
                                                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "Index";
        });
        $('#OK').click(function () {
            $("#FoodMenu").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}

