@using Microsoft.Extensions.Localization;
@model IEnumerable<RocketPOS.Models.FoodMenuModel>

@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Menu Items");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("FoodMenu");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-11">
                <h5 class="card-title">Menu Items</h5>
            </div>
            <div class="float-right">
                <a asp-action="FoodMenu" class="btn btn-primary float-sm-left ">Add</a>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="row">
                <div class="col-md-2">
                    <label>Category</label>
                    <select id="FoodCategoryId" class="form-control">
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Menu Item Type  </label>
                    <select id="FoodMenuType" class="form-control">
                        <option value="-1"> ALL</option>
                        <option value="1"> Readymade</option>
                        <option value="2"> OnTheSpot</option>
                        <option value="3"> Other</option>
                        <option value="4"> Catering</option>
                    </select>
                </div>
                <div class="col-md-1 pr-2 pl-2">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <a id="LoadFoodMenuList" onclick="return GetFoodmenuLists();" class="btn btn-light" style="margin-top: 22px">Load</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <table id="@SharedLocalizer.GetLocalizedHtmlString("FoodMenu")" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead row="root">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FoodMenuCode)
                            </th>
                            <th>
                                @Html.DisplayName("Menu Item")
                            </th>
                            <th>
                                @Html.DisplayName("UoM")
                            </th>
                            <th>
                                @Html.DisplayName("VAT")
                            </th>
                            <th>
                                @Html.DisplayName("Menu Category")
                            </th>
                            <th>
                                @Html.DisplayName("Menu Item Type")
                            </th>
                            <th>
                                @Html.DisplayName("Action")
                            </th>
                        </tr>
                    </thead>
                    <tfoot row="root">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FoodMenuCode)
                            </th>
                            <th>
                                @Html.DisplayName("Menu Item")
                            </th>
                            <th>
                                @Html.DisplayName("UoM")
                            </th>
                            <th>
                                @Html.DisplayName("VAT")
                            </th>
                            <th>
                                @Html.DisplayName("Menu Category")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FoodMenuType)
                            </th>
                            <th>
                                @Html.DisplayName("Action")
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tm = "#myModal" + item.Id;
                            var mid = "myModal" + item.Id;

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoodMenuCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoodMenuName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoodVatTaxName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoodCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoodMenuType)
                                </td>
                                <td>
                                    <div class="form-button-action">
                                        <a asp-action="FoodMenu" asp-route-Id="@item.Id">Edit   <i class="fa fa-edit"></i></a>
                                        <label> / </label>
                                        <a href="#" class="fa fa-trash-alt" data-toggle="modal" data-target="@tm">Delete   <i class="fa fa-times"></i></a>
                                    </div>

                                </td>
                            </tr>
                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<br />

@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#@dataTableName').DataTable({
                dom: 'Bfrtip',
                "buttons": [{
                    extend: 'excel',
                    exportOptions: { columns: [0, 1, 2, 3, 4, 5], rows: ':visible' },
                    format: {
                        body: function (data, row, column, node) {
                            if ($(data).is("input")) {
                                return $(data).val();
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    filename: function () {
                        var d = new Date();
                        var date = d.getFullYear() + '_' + ('0' + (d.getMonth() + 1)).slice(-2) + '_' + ('0' + d.getDate()).slice(-2);
                        var n = d.getTime();
                        return 'MenuItem_' + date + '_' + n;
                    },
                }],
                "bLengthChange": true,
                "bInfo": true,
                "bFilter": true,
                "ordering": true,
                "autoWidth": false,
                "orderCellsTop": true,
                "stateSave": false,
                "pageLength": 250,
                "lengthMenu": [
                    [250, 500, 1000, 2000],
                    ['250', '500', '1000', '2000']
                ],
            });

            GetFoodMenuCategory();
        });


        function GetFoodMenuCategory() {
            $.ajax({
                url: "/FoodMenu/GetFoodMenuCategory",
                data: {},
                type: "GET",
                dataType: "text",
                success: function (data) {
                    $("#FoodCategoryId").empty();
                    var obj = JSON.parse(data);
                    for (var i = 0; i < obj.foodCategoryList.length; ++i) {
                        if (i == 0) {
                            $("#FoodCategoryId").append('<option value="-1">ALL</option>');
                        }
                        else {
                            $("#FoodCategoryId").append('<option value="' + obj.foodCategoryList[i].value + '">' + obj.foodCategoryList[i].text + '</option>');
                        }
                    }
                },
                error: function (data) {
                    alert(data);
                }
            });
        }
    </script>
    <script>

        $(function () {
            $('#dataTable').DataTable({
                dom: 'Bfrtip',
                "buttons": [{
                    extend: 'excel',
                    exportOptions: { columns: [0, 1, 2, 3, 4, 5] },
                    filename: function () {
                        var d = new Date();
                        var date = d.getFullYear() + '_' + ('0' + (d.getMonth() + 1)).slice(-2) + '_' + ('0' + d.getDate()).slice(-2);
                        var n = d.getTime();
                        return 'MenuItem_' + date + '_' + n;
                    },
                }],
                "pageLength": 3,
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });

        function loadReadymadeData() {
            debugger;
            window.location.href = "/FoodMenu/Index?readymade=" + $("#chkReadymade").val();
        }

        function GetFoodmenuLists() {
            var categoryid = $("#FoodCategoryId").val();
            var foodmenutype = $("#FoodMenuType").val();
            window.location.href = "/FoodMenu/Index?categoryid=" + categoryid + "&foodmenutype=" + foodmenutype;
        }


    </script>


}
