@using Microsoft.Extensions.Localization;
@model IEnumerable<RocketPOS.Models.FoodMenuModel>

@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Menu Items");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("FoodMenu");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-11">
                <h5 class="card-title">Menu Items</h5>
            </div>
            <div class="float-right">
                <a asp-action="FoodMenu" class="btn btn-primary float-sm-left ">Add</a>

            </div>
        </div>
    </div>
    <br />
    <input type="checkbox" name="chkReadymade" onchange="return loadReadymadeData();" />
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="@SharedLocalizer.GetLocalizedHtmlString("FoodMenu")" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead row="root">
                        <tr>
                            <th>
                                @Html.DisplayName("Menu Category")
                            </th>
                            <th>
                                @Html.DisplayName("Menu Item")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FoodMenuCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Readymade)
                            </th>
                            <th>@Html.DisplayName("Action")</th>
                        </tr>
                    </thead>
                    <tfoot row="root">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FoodCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FoodMenuName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FoodMenuCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Readymade)
                            </th>
                            <th>@Html.DisplayName("Action")</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tm = "#myModal" + item.Id;
                            var mid = "myModal" + item.Id;

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoodCategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoodMenuName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoodMenuCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Readymade)
                                </td>
                                <td>
                                    <div class="form-button-action">
                                        <a asp-action="FoodMenu" asp-route-Id="@item.Id">Edit   <i class="fa fa-edit"></i></a>
                                        <label> / </label>
                                        <a href="#" class="fa fa-trash-alt" data-toggle="modal" data-target="@tm">Delete   <i class="fa fa-times"></i></a>
                                    </div>

                                </td>
                            </tr>
                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<br />

@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#@dataTableName').DataTable({
                "bLengthChange": true,
                "bInfo": true,
                "bFilter": true,
                "ordering": true,
                "autoWidth": false,
                "orderCellsTop": true,
                "stateSave": false,
                "pageLength": 250,
                "lengthMenu": [
                    [250, 500, 1000, 2000],
                    ['250', '500', '1000', '2000']
                ],
            });
        });
    </script>
    <script>

        $(function () {
            $('#dataTable').DataTable({
                "pageLength": 3,
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });

        function loadReadymadeData() {
            debugger;
            window.location.href = "/FoodMenu/Index?readymade=" + $("#chkReadymade").val();
        }

    </script>


}
