@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.ProductionFormulaModel
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="card-title">Manage Production Formula</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="onthespot" checked="checked" disabled="disabled" />
                            <label class="form-check-label" for="flexSwitchCheckChecked">On the Spot</label>
                            <input asp-for="FoodmenuType" class="form-control" hidden="hidden" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <form asp-action="ProductionFormula" method="post" id="productionFormulaForm" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="row">
                                    <div class="col-md-3 pr-2 pl-2">
                                        <div class="form-group">
                                            <label asp-for="FormulaName" class="control-label">Formula Name</label>
                                            <input asp-for="FormulaName" class="form-control" />
                                            <span asp-validation-for="FormulaName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 pr-2 pl-2">
                                        <div class="form-group">
                                            <label asp-for="BatchSize" class="control-label">Batch Size</label>
                                            <input asp-for="BatchSize" class="form-control" />
                                            <span asp-validation-for="BatchSize" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 pr-2 pl-2">
                                    <div class="form-group">
                                        <label asp-for="FoodMenuList" class="control-label">Menu item</label>
                                        <select asp-for="FoodMenuId"
                                                class="form-control"
                                                asp-items="@(new SelectList(Model.FoodMenuList, "Value", "Text"))" onchange="return GetUnitNameByFoodMenuId();">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1 pr-2 pl-2">
                                    <div class="form-group">
                                        <label asp-for="ExpectedOutput" class="control-label">Expected Output</label>
                                        <input asp-for="ExpectedOutput" class="form-control" />
                                        <label id="FoodMenuUnitName" class="control-label">Unit</label>
                                    </div>
                                </div>
                                <div class="col-md-1 pr-2 pl-2">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <button id="addFoodMenuRow" class="btn btn-light" style="margin-top: 22px">Add</button>
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                        <input id="PFFoodMenuId" class="form-control" type="hidden" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap">
                                <table id="formulaFoodMenu" width="100%" autowidth="true" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                    <thead>
                                        <tr>
                                            <th style="width:10%">PFFoodMenuId</th>
                                            <th style="width:10%">FoodMenuId</th>
                                            <th style="width:50%">Menu Item</th>
                                            <th style="width:15%" class="text-right">Expected Output</th>
                                            <th style="width:15%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.productionFormulaFoodMenuModels != null)
                                        {
                                            @foreach (var item in Model.productionFormulaFoodMenuModels)
                                            {
                                                var tm = "#myModal" + item.FoodMenuId;
                                                var mid = "myModal" + item.FoodMenuId;
                                                var rowId = "rowId" + item.FoodMenuId;
                                                <tr id="@rowId">
                                                    <td>
                                                        @item.PFFoodMenuId
                                                    </td>
                                                    <td>
                                                        @item.FoodMenuId
                                                    </td>
                                                    <td>
                                                        @item.FoodMenuName
                                                    </td>
                                                    <td class="text-right">
                                                        @item.ExpectedOutput.ToString("N")
                                                    </td>
                                                    <td class="text-left">
                                                        <div class="form-button-action">
                                                            <a href="#" data-itemid="@item.FoodMenuId" class="btn btn-link  editFoodMenuItem">Edit</a>
                                                            <a href="#" data-itemid="@item.FoodMenuId"></a><a href="#" data-toggle="modal" class="btn btn-link" data-target="@tm">Delete</a>
                                                        </div>
                                                    </td>
                                                    <div class="modal fade" id=@mid tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a id="deleteBtn" data-itemId="@item.PFFoodMenuId" onclick="deleteFoodMenuOrder(@item.PFFoodMenuId,@item.FoodMenuId, @rowId)" class="btn bg-danger mr-1" data-dismiss="modal">Delete</a>
                                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 pr-2 pl-2">
                                    <div class="form-group">
                                        <label asp-for="IngredientList" class="control-label">Stock Item</label>
                                        <select asp-for="IngredientId"
                                                class="form-control " asp-items="@(new SelectList(Model.IngredientList, "Value", "Text"))" onchange="return GetUnitNameByIngredientId();">
                                            <option value="">Select</option>
                                        </select>
                                        <span asp-validation-for="IngredientId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-1 pr-2 pl-2">
                                    <div class="form-group">
                                        <label class="control-label text-right">Quantity</label>
                                        <input asp-for="IngredientQty" type="number" min="1" max="99999" value="1" placeholder="0.00" class="form-control text-right" />
                                        <label id="IngredientUnitName" class="control-label">Unit</label>
                                    </div>
                                </div>
                                <div class="col-md-1 pr-2 pl-2">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <button id="addIngredientRow" class="btn btn-light" style="margin-top: 22px">Add</button>
                                        <input id="PFIngredientId" class="form-control" type="hidden" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap">
                                <table id="formulaIngredient" width="100%" autowidth="true" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                    <thead>
                                        <tr>
                                            <th style="width:10%">PFIngredientId</th>
                                            <th style="width:10%">IngredientId</th>
                                            <th style="width:50%">Stock Item</th>
                                            <th style="width:15%" class="text-right">Qty</th>
                                            <th style="width:15%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.productionFormulaIngredientModels != null)
                                        {
                                            @foreach (var item in Model.productionFormulaIngredientModels)
                                            {
                                                var tm = "#myModal" + item.IngredientId;
                                                var mid = "myModal" + item.IngredientId;
                                                var rowId = "rowId" + item.IngredientId;
                                                <tr id="@rowId">
                                                    <td>
                                                        @item.PFIngredientId
                                                    </td>
                                                    <td>
                                                        @item.IngredientId
                                                    </td>
                                                    <td>
                                                        @item.IngredientName
                                                    </td>
                                                    <td class="text-right">
                                                        @item.IngredientQty.ToString("N")
                                                    </td>
                                                    <td class="text-left">
                                                        <div class="form-button-action">
                                                            <a href="#" data-itemid="@item.IngredientId" class="btn btn-link  editIngredientItem">Edit</a>
                                                            <a href="#" data-itemid="@item.IngredientId"></a><a href="#" data-toggle="modal" class="btn btn-link" data-target="@tm">Delete</a>
                                                        </div>
                                                    </td>
                                                    <div class="modal fade" id=@mid tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a id="deleteBtn" data-itemId="@item.PFIngredientId" onclick="deleteIngredientOrder(@item.PFIngredientId,@item.IngredientId, @rowId)" class="btn bg-danger mr-1" data-dismiss="modal">Delete</a>
                                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 pr-2 pl-2">
                            <div class="form-group">
                                <label asp-for="IsActive" class="control-label">IsActive</label>
                                <input asp-for="IsActive" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        @if (ViewBag.ActionType != "View")
                        {
                            <input type="submit" id="saveOrder" value="Save" class="btn btn-primary" />
                        }
                        <a href='@Url.Action("Index", "ProductionFormula")' class="btn btn-primary" style="margin:0px 0px 0px 5px">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary ">Ok</button>
                <button type="button" id="ok" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        foodMenuDataArr = []
        ingredientDataArr = []
        if (@Model.Id>0){
            foodMenuDataArr = JSON.parse('@Html.Raw(Json.Serialize(Model.productionFormulaFoodMenuModels))');
            ingredientDataArr = JSON.parse('@Html.Raw(Json.Serialize(Model.productionFormulaIngredientModels))');
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
    <script src="~/Scripts/ProductionFormula.js"></script>
}
