@using Microsoft.Extensions.Localization;
@using RocketPOS.Framework;
@model RocketPOS.Models.PurchaseInvoiceModel
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="card-title">Create Purchase Invoice</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="PurchaseInvoiceFoodMenu" method="post" id="purchaseInvoice" role="form">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-1 pr-0 pl-0">
                                        <div class="form-group">
                                            <label asp-for="ReferenceNo" class="control-label">Number</label>
                                            <input asp-for="ReferenceNo" disabled="disabled" class="form-control" />
                                            <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pr-2 pl-2">
                                        <div class="form-group">
                                            <label asp-for="StoreList" class="control-label">Store</label>
                                            <select asp-for="StoreId"
                                                    class="form-control"
                                                    asp-items="@(new SelectList(Model.StoreList, "Value", "Text"))">
                                            </select>
                                            <span asp-validation-for="StoreId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pr-2 pl-2">
                                        <div class="form-group">
                                            <label asp-for="SupplierList" class="control-label">Supplier</label>
                                            <select asp-for="SupplierId"
                                                    class="form-control"
                                                    asp-items="@(new SelectList(Model.SupplierList, "Value", "Text"))"
                                                    onchange="GetSupplierDetails(SupplierId)">
                                            </select>
                                            <span asp-validation-for="SupplierId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 pr-2 pl-2">
                                        <div class="form-group">
                                            <label asp-for="ReferenceNo" class="control-label">Reference</label>
                                            <input asp-for="ReferenceNo" class="form-control" />
                                            <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 pr-2 pl-2">
                                        <div class="form-group">
                                            <label class="control-label"></label>
                                            <button id="LoadProduct" class="btn btn-light">Load Product</button>
                                            <input class="form-control" type="hidden" id="PurchaseId" value="0" />
                                            <input asp-for="Id" class="form-control" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 pr-2 pl-2">
                                            <div class="form-group">
                                                <label asp-for="FoodMenuList" class="control-label">Product</label>
                                                <select asp-for="FoodMenuId"
                                                        class="form-control " onchange="GetFoodMenuLastPrice(FoodMenuId)">
                                                    <option value="">Select</option>
                                                </select>
                                                <span asp-validation-for="FoodMenuId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-1 pr-2 pl-2">
                                            <div class="form-group">
                                                <label class="control-label text-right">Quantity</label>
                                                <input class="form-control text-right" type="number" min="1" max="9999" placeholder="0.00" id="InvoiceQty" />
                                            </div>
                                        </div>
                                        <div class="col-md-1 pr-2 pl-2">
                                            <div class="form-group">
                                                <label class="control-label text-right">Price</label>
                                                <input class="form-control text-right" type="number" min="1" max="9999999" placeholder="0.00" id="UnitPrice" />
                                            </div>
                                        </div>
                                        <div class="col-md-1 pr-2 pl-2">
                                            <div class="form-group">
                                                <label class="control-label text-right">Disc%</label>
                                                <input class="form-control text-right" type="number" value="0" min="0" max="100" placeholder="0.00" id="DiscountPercentage" />
                                            </div>
                                        </div>
                                        <div class="col-md-1 pr-2 pl-2">
                                            <div class="form-group">
                                                <label class="control-label"></label>
                                                <button id="addRow" class="btn btn-light" style="margin-top: 22px">Add</button>
                                                <input class="form-control" type="hidden" id="PurchaseId" value="0" />
                                                <input asp-for="Id" class="form-control" type="hidden" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-wrap">
                                        <table id="purchaseOrderDetails" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                            <thead>
                                                <tr>
                                                    <th style="width:0%">FoodMenuId</th>
                                                    <th style="width:35%">Product</th>
                                                    <th style="width:5%" class="text-right">PO Qty</th>
                                                    <th style="width:10%" class="text-right">Received Qty</th>
                                                    <th style="width:10%" class="text-right">Price</th>
                                                    <th style="width:10%" class="text-right">Dis%</th>
                                                    <th style="width:0%" class="text-right">Dis Amt</th>
                                                    <th style="width:0%" class="text-right">Tax%</th>
                                                    <th style="width:0%" class="text-right">Tax Amt</th>
                                                    <th style="width:10%" class="text-right">Total</th>
                                                    <th style="width:10%" class="text-center">Action</th>
                                                    <th style="width:0%" class="text-center">.</th>
                                                </tr>
                                            </thead>
                                            @if (Model.Id > 0)
                                            {
                                                @foreach (var item in Model.purchaseInvoiceDetails)
                                                {
                                                    var tm = "#myModal" + item.PurchaseInvoiceId;
                                                    var mid = "myModal" + item.PurchaseInvoiceId;
                                                    var rowId = "rowId" + item.PurchaseInvoiceId;
                                                    <tr id="@rowId">
                                                        <td>
                                                            @item.FoodMenuId
                                                        </td>
                                                        <td>
                                                            @item.FoodMenuName
                                                        </td>
                                                        <td class="text-right">
                                                            @item.POQTY.ToString("N")
                                                        </td>
                                                        <td class="text-right">
                                                            @item.InvoiceQty.ToString("N")
                                                        </td>
                                                        <td class="text-right">
                                                            @item.UnitPrice.ToString("N")
                                                        </td>
                                                        <td class="text-right">
                                                            @item.DiscountPercentage.ToString("N")
                                                        </td>
                                                        <td class="text-right">
                                                            @item.DiscountAmount.ToString("N")
                                                        </td>
                                                        <td class="text-right">
                                                            @item.TaxAmount.ToString("N")
                                                        </td>
                                                        <td class="text-right">
                                                            @item.TaxAmount.ToString("N")
                                                        </td>
                                                        <td class="text-right">
                                                            @item.TotalAmount.ToString("N")
                                                        </td>
                                                        <td class="text-left">
                                                            <div class="form-button-action">
                                                                <a href="#" data-itemid="@item.FoodMenuId" class="btn btn-link  editItem"></a><a href="#" data-toggle="modal" data-target="@tm">Delete<i></i></a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            @item.PurchaseInvoiceId
                                                        </td>
                                                    </tr>
                                                    <div class="modal fade" id=@mid tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a id="deleteBtn" data-itemId="@item.FoodMenuId" onclick="deleteOrder(@item.PurchaseInvoiceId, @item.FoodMenuId,@rowId)" class="btn bg-danger mr-1" data-dismiss="modal">Delete</a>
                                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-1 pr-2 pl-2">
                                                    <div class="form-group">
                                                        <label asp-for="DeliveryNoteNumber" class="control-label">Del. Note No.</label>
                                                        <input type="text" asp-for="DeliveryNoteNumber" class="form-control input-full text-left">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 pr-2 pl-2">
                                                    <div class="form-group">
                                                        <label asp-for="DeliveryDate" class="control-label"></label>
                                                        <input asp-for="DeliveryDate" type="date" class="form-control" />
                                                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 pr-2 pl-2">
                                                    <div class="form-group">
                                                        <label asp-for="DriverName" class="control-label">Driver Name</label>
                                                        <input type="text" asp-for="DriverName" class="form-control input-full text-left">
                                                    </div>
                                                </div>
                                                <div class="col-md-1 pr-2 pl-2">
                                                    <div class="form-group">
                                                        <label asp-for="VehicleNumber" class="control-label">Vehicle Number</label>
                                                        <input type="text" asp-for="VehicleNumber" class="form-control input-full text-left">
                                                    </div>
                                                </div>
                                                <div class="col-md-7 pl-2 pr-2">
                                                    <div class="form-group">
                                                        <label asp-for="Notes" class="control-label ">Notes</label>
                                                        <textarea asp-for="Notes" class="form-control input-full text-left" rows="1" cols="50"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group form-inline fc-left">
                                                        <div class="col-md-1 pr-2 pl-2">
                                                            <label asp-for="GrossAmount" class="control-label">Gross Amount</label>
                                                            <input asp-for="GrossAmount" style="width:80px" disabled="disabled" class="form-control input-full text-right">
                                                        </div>
                                                        <div class="col-md-1 pr-2 pl-2">
                                                            <label asp-for="TaxAmount" class="control-label">VAT </label>
                                                            <input asp-for="TaxAmount" style="width:80px" disabled="disabled" class="form-control input-full text-right">
                                                        </div>
                                                        <div class="col-md-1 pr-2 pl-2">
                                                            <label asp-for="TotalAmount" class="control-label">Total Amount</label>
                                                            <input asp-for="TotalAmount" style="width:80px" disabled="disabled" class="form-control input-full text-right">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-button-action">
                                <input id="saveOrder" type="submit" class="btn btn-primary " style="margin:0px 0px 0px 5px" value="Save" />
                                <a href='@Url.Action("PurchaseInvoiceFoodMenuList", "PurchaseInvoiceFoodMenu")' class="btn btn-primary" style="margin:0px 0px 0px 5px">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="aModalLabel">Message</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="save" class="btn btn-primary ">Ok</button>
                        <button type="button" id="ok" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        dataArr = []
      var GrandTotal = 0;
var TotalAmount = 0;

        if (@Model.Id > 0) {
            dataArr = JSON.parse('@Html.Raw(Json.Serialize(Model.purchaseInvoiceDetails))');
            GrandTotal = parseFloat($("#GrandTotal").val());
    }
    console.log(dataArr);


    </script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/Scripts/PurchaseInvoiceFoodMenu.js"></script>
}
