@using Microsoft.Extensions.Localization;
@model IEnumerable<RocketPOS.Models.UserModel>
@inject IStringLocalizer<RocketPOS.Resources.RocketPOSResources> SharedLocalizer;
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("User");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("User");
}


<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-11">
                <h5 class="card-title">Users</h5>
            </div>
            <div class="float-right">
                <a asp-action="User" class="btn btn-primary float-sm-left ">Add</a>

            </div>
        </div>
    </div>
    </br>
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="@SharedLocalizer.GetLocalizedHtmlString("User")" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead role="row">
                        <tr>
                            @*<th>
                                @Html.DisplayNameFor(model => model.OutletId)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
                            @*<th>
            @Html.DisplayNameFor(model => model.ThumbToken)
        </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.RoleTypeId)
                            </th>
                            @*<th>
            @Html.DisplayNameFor(model => model.LastLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLogout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Counter)
        </th>*@
                            <th>@Html.DisplayName("Action")</th>
                        </tr>
                    </thead>
                    <tfoot role="row">
                        <tr>
                            @*<th>
                                @Html.DisplayNameFor(model => model.OutletName)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
                            @*<th>
            @Html.DisplayNameFor(model => model.ThumbToken)
        </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.RoleTypeId)
                            </th>
                            @*<th>
            @Html.DisplayNameFor(model => model.LastLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLogout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Counter)
        </th>*@
                            <th>@Html.DisplayName("Action")</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tm = "#myModal" + item.Id;
                            var mid = "myModal" + item.Id;

                        <tr>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.OutletName)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>*@
                            @*<td>
            @Html.DisplayFor(modelItem => item.ThumbToken)
        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleTypeId)
                            </td>
                            @*<td>
            @Html.DisplayFor(modelItem => item.LastLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLogout)
        </td>*@
                            @*<td>
            @Html.DisplayFor(modelItem => item.IPAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Counter)
        </td>*@
                            <td>
                                <div class="form-button-action">
                                    <a asp-action="User"  asp-route-Id="@item.Id">Edit   <i class="fa fa-edit"></i></a>
                                    <label> / </label>
                                    <a href="#" class="fa fa-trash-alt" data-toggle="modal" data-target="@tm">Delete   <i class="fa fa-times"></i></a>
                                </div>

                            </td>
                        </tr>
                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            table = $('#@dataTableName').DataTable({
                        "bLengthChange": true,
                        "bInfo": true,
                        "bFilter": true,
                        "ordering": true,
                        "autoWidth": false,
                        "orderCellsTop": true,
                        "stateSave": false,
                        "pageLength": 50,
                        "lengthMenu": [
                            [50, 100, 200, 500],
                            ['50', '100', '200', '500']
                        ],
            });
        });
    </script>
}
