@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.WasteModel
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@section Styles {
    <link href="@Url.Content("~/Styles/print.css")" rel="stylesheet" type="text/css" />
}
@{
    Layout = "";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag
    https://bootsnipp.com/snippets/9gjD
   https://plnkr.co/edit/lWk6Yd?preview ---------->

<div id="CateringReport" class="container">
    <div class="row">
        <div style="background-color:#F7F7F7">
            <div class="col-md-11">
                <h5 class="card-title">
                    Waste
                </h5>
            </div>
            @*<div class="float-right">
                    <input type="button" value="Print" class="btn btn-primary btn-sm float-left" onclick=' return printDiv();'>
                </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                @*<h4>@Model.FromStoreName</h4>*@
            </div>
            <div class="row mb-4">
                <div class="col-xs-9">
                    @*<address>
                            <strong></strong>@Model.SupplierAddress1<br>
                            <strong></strong>@Model.SupplierAddress2<br>
                            <strong></strong>@Model.SupplierPhone<br>
                            <strong></strong>@Model.SupplierEmail<br>
                        </address>*@
                </div>

                <div class="col-xs-3 text-right">
                    <address>
                        <strong>No: </strong>@Model.ReferenceNumber<br>
                        <strong>Date  :  </strong>@Model.WasteDateTime.ToShortDateString()<br>
                        <strong>From Store :  </strong>@Model.StoreName<br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    @if (Model.WasteDetail.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:25%">Product</th>
                                    <th style="width:8%" class="text-right">Qty </th>
                                    <th style="width:10%" class="text-right">Loss Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.WasteDetail)
                                {
                                    var tm = "#myAModal" + item.WasteIngredientId;
                                    var mid = "myAModal" + item.WasteIngredientId;
                                    var rowId = "rowId" + item.WasteIngredientId;
                                    <tr id="@rowId">
                                        <td>
                                            @item.FoodMenuName
                                        </td>
                                        <td class="text-right">
                                            @item.Qty.ToString("0.00") @item.UnitName
                                        </td>
                                        <td class="text-right">
                                            @item.LossAmount.ToString("0.00")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12 ">
                            <div class="col-sm-9">
                            </div>
                            <div class="col-sm-3 text-right">
                                <div><strong>Total Loss Amount  : </strong>@Model.TotalLossAmount</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-6 text-left">
            @if (Model.ReasonForWaste != null)
            {
                <div><strong>Notes : </strong> @Model.ReasonForWaste</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @if (Model.CreatedDatetime.ToShortDateString() == "01/01/0001")
            { }
            else
            {
                <div><strong>History </strong> </div>
                <div><span>Created :   </span>@Model.CreatedDatetime [ @Model.CreatedUserName ]</div>
            }
            @if (Model.ApprovedDateTime.ToShortDateString() == "01/01/0001")
            { }
            else
            {
                <div><span>Approved :</span>@Model.ApprovedDateTime [ @Model.ApprovedUserName ]</div>
            }
        </div>
    </div>
</div>


@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
