@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.WasteListViewModel
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Waste");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("Waste");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-11">
                <div class="col-md-8"><h4 class="card-title">Wastes</h4></div>
            </div>
            <div class="float-right">
                <a asp-action="Waste" class="btn btn-primary float-sm-left ">Add</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row" style="display: none">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="FoodMenuList" class="control-label">Menu Item</label>
                            <select asp-for="FoodMenuId"
                                    class="form-control"
                                    asp-items="@(new SelectList(Model.FoodMenuList, "Value", "Text"))">
                            </select>
                            <span asp-validation-for="FoodMenuId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="IngredientList" class="control-label">Stock Item</label>
                            <select asp-for="IngredientId"
                                    class="form-control"
                                    asp-items="@(new SelectList(Model.IngredientList, "Value", "Text"))">
                            </select>
                            <span asp-validation-for="IngredientId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a id="btnLoadData" onclick="return loadWasteList();" class="btn btn-outline-light" data-dismiss="modal">Load</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">

                <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="col-sm-12">
                        <table id="@SharedLocalizer.GetLocalizedHtmlString("Waste")" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                            <thead>
                                <tr role="row">
                                    <th style="width:8%">Number</th>
                                    <th style="width:50%">Store</th>
                                    <th style="width:8%">@Html.DisplayName("Date")</th>
                                    <th style="width:10%">@Html.DisplayName("Loss Amount")</th>
                                    <th style="width:8%">@Html.DisplayName("Status")</th>
                                    <th style="width:8%">@Html.DisplayName("Actions")</th>
                                    <th style="width:8%">@Html.DisplayName("View")</th>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th style="width:8%">Number</th>
                                    <th style="width:50%">Store</th>
                                    <th style="width:8%">@Html.DisplayName("Date")</th>
                                    <th style="width:10%">@Html.DisplayName("Loss Amount")</th>
                                    <th style="width:8%">@Html.DisplayName("Status")</th>
                                    <th style="width:8%">@Html.DisplayName("Actions")</th>
                                    <th style="width:8%">@Html.DisplayName("View")</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.WasteListModels)
                                {
                                    var tm = "#myModal" + item.Id;
                                    var mid = "myModal" + item.Id;
                                    <tr role="row">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReferenceNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StoreName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Wastedatetime, "{0:d}")
                                        </td>
                                        <td class="text-right">
                                            @Html.DisplayFor(modelItem => item.TotalLossAmount)
                                        </td>
                                        <td>
                                            @if (Convert.ToInt32(item.WasteStatus) == 2)
                                            {
                                                <label>Approved</label>
                                            }
                                            else
                                            {
                                                <label>Created</label>
                                            }

                                        </td>
                                        <td>
                                            @if (Convert.ToInt32(item.WasteStatus) != 2)
                                            {
                                                <div class="form-button-action">
                                                    <a asp-action="Waste" asp-route-Id="@item.Id" asp-route-type="Edit">Edit</a>
                                                    <label> / </label>
                                                    <a href="#" data-toggle="modal" data-target="@tm">Delete</a>
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            <div class="form-button-action">
                                                <a asp-action="Waste" asp-route-Id="@item.Id" asp-route-type="View">View</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                                </div>
                                                <div class="modal-footer">
                                                    <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <!-- jQuery -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#@dataTableName').DataTable();
            $("#FoodMenuId").select2();
            $("#IngredientId").select2();
        });

        function loadWasteList() {
            window.location.href = "/Waste/WasteList?foodMenuId=" + $("#FoodMenuId").val() + "&ingredientId=" + $("#IngredientId").val();
        }
    </script>
}