@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.WasteModel
@using  RocketPOS.Resources
@using RocketPOS.Framework
@inject LocService SharedLocalizer
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="card-title">Waste</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Waste" method="post" id="waste" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-1 pr-2 pl-2">
                                    <div class="form-group">
                                        <label asp-for="ReferenceNumber" class="control-label">Number</label>
                                        <input asp-for="ReferenceNumber" disabled="disabled" class="form-control" />
                                        <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 pr-2 pl-2">
                                    <div class="form-group">
                                        <label asp-for="StoreList" class="control-label">Store</label>
                                        <select asp-for="StoreId"
                                                class="form-control"
                                                asp-items="@(new SelectList(Model.StoreList, "Value", "Text"))">
                                        </select>
                                        <span asp-validation-for="StoreId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-2 pr-2 pl-2">
                                    <div class="form-group">
                                        <label asp-for="WasteDateTime" class="control-label">Date</label>
                                        <input asp-for="WasteDateTime" type="date" class="form-control" />
                                        <span asp-validation-for="WasteDateTime" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 pl-2 pr-2">
                                            <div class="form-group">
                                                <label asp-for="FoodMenuList" class="control-label">Menu Item</label>
                                                <select asp-for="FoodMenuId"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(Model.FoodMenuList, "Value", "Text"))">
                                                </select>
                                                <span asp-validation-for="FoodMenuId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="IngredientList" class="control-label">Stock Item</label>
                                                <select asp-for="IngredientId"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(Model.IngredientList, "Value", "Text"))">
                                                </select>
                                                <span asp-validation-for="IngredientId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="control-label">Qty</label>
                                                <input class="form-control text-right" type="number" min="1" max="99999" id="Quantity" />
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="control-label">Loss Amount</label>
                                                <input class="form-control text-right" type="number" disabled="disabled" id="LossAmount" />
                                            </div>
                                        </div>
                                        <div class="col-md-3" hidden>
                                            <div class="form-group">
                                                <label asp-for="FoodMenuListForLostAmount" class="control-label">Food Menu</label>
                                                <select asp-for="FoodMenuIdForLostAmount"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(Model.FoodMenuListForLostAmount, "Value", "Text"))">
                                                </select>
                                                <span asp-validation-for="FoodMenuId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3" hidden>
                                            <div class="form-group">
                                                <label asp-for="IngredientListForLostAmount" class="control-label">Ingredient</label>
                                                <select asp-for="IngredientIdForLostAmount"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(Model.IngredientListForLostAmount, "Value", "Text"))">
                                                </select>
                                                <span asp-validation-for="IngredientId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="control-label"></label>
                                                <button id="addRow" class="form-control btn btn-outline-dark" style="margin-top: 7px">Add</button>
                                                <input class="form-control" type="hidden" id="WasteId" value="0" />
                                                <input asp-for="Id" class="form-control" type="hidden" />
                                                <input class="form-control" type="hidden" id="WasteIngredientId" value="0" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pl-2">
                                    <table id="WasteOrderDetails" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                        <thead>
                                            <tr>
                                                <th style="width:3%">WasteIngredientId</th>
                                                <th style="width:3%">FoodMenuId</th>
                                                <th style="width:35%">Menu Item</th>
                                                <th style="width:3%">IngredientId</th>
                                                <th style="width:35%">Stock Item</th>
                                                <th style="width:10%" class="text-right">Qty</th>
                                                <th style="width:12%" class="text-right">Loss Amount</th>
                                                <th style="width:3%">WasteId</th>
                                                <th style="width:10%" class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        @if (Model.Id > 0)
                                        {
                                            var i = 0;
                                            @foreach (var item in Model.WasteDetail)
                                            {
                                                var tm = "#myModal" + i;
                                                var mid = "myModal" + i;
                                                var rowId = "rowId" + i;
                                                i++;
                                                <tr id="@rowId">
                                                    <td>
                                                        @item.WasteIngredientId
                                                    </td>
                                                    <td>
                                                        @item.FoodMenuId
                                                    </td>
                                                    <td>
                                                        @item.FoodMenuName
                                                    </td>
                                                    <td>
                                                        @item.IngredientId
                                                    </td>
                                                    <td>
                                                        @item.IngredientName
                                                    </td>
                                                    <td class="text-right">
                                                        @item.Qty
                                                    </td>
                                                    <td class="text-right">
                                                        @item.LossAmount
                                                    </td>
                                                    <td>
                                                        @item.WasteId
                                                    </td>
                                                    <td>
                                                        <div class="form-button-action">
                                                            <a href="#" data-toggle="modal" data-target="@tm">Delete</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <div class="modal fade" id=@mid tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a id="deleteBtn" data-itemId="@(item.FoodMenuId.ToString() +"|"+ item.IngredientId.ToString())" onclick="deleteOrder(@item.WasteId, @item.IngredientId, @item.FoodMenuId, @rowId)" class="btn bg-danger mr-1" data-dismiss="modal">Delete</a>
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-1 pl-2">
                                    <label asp-for="ReasonForWaste" class="col-form-label">Notes</label>
                                </div>
                                <div class="col-md-7 p-0">
                                    <textarea asp-for="ReasonForWaste" class="form-control input-full text-left" placeholder="Enter Notes for Waste" rows="1" cols="140"></textarea>
                                </div>
                                <div class="col-md-1">
                                    <label asp-for="TotalLossAmount" class="col-form-label">Total Loss</label>
                                </div>
                                <div class="col-md-2 pr-0">
                                    <input type="number" asp-for="TotalLossAmount" class="form-control input-full text-right pr-0" disabled="disabled" placeholder="Enter Input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-1 pl-2">
                                    <label asp-for="WasteStatus" class="col-form-label">Status</label>
                                </div>
                                <div class="col-md-2 pl-0">
                                    <select asp-for="WasteStatus" class="form-control" asp-items="Html.GetEnumSelectList<WasteStatus>()"></select>
                                </div>
                                <div class="col-md-9">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 pl-2">
                            <div class="row">
                                <div class="col-sm-6">
                                    @if (Model.CreatedDatetime.ToShortDateString() == "01/01/0001")
                                    { }
                                    else
                                    {
                                        <div><strong>History </strong> </div>
                                        <div><span>Created :   </span>@Model.CreatedDatetime [ @Model.CreatedUserName ]</div>
                                    }
                                    @if (Model.ApprovedDateTime.ToShortDateString() == "01/01/0001")
                                    { }
                                    else
                                    {
                                        <div><span>Approved :</span>@Model.ApprovedDateTime [ @Model.ApprovedUserName ]</div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-button-action">
                        @if (ViewBag.ActionType != "View")
                        {
                            <input id="saveOrder" type="submit" class="btn btn-primary" value="Save" />
                        }
                        <a href='@Url.Action("WasteList", "Waste")' class="btn btn-primary" style="margin:0px 0px 0px 5px">Cancel</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary ">Ok</button>
                <button type="button" id="ok" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        dataArr = []
        var TotalLossAmount = 0;
        var WasteModelId = 0;
        if (@Model.Id > 0) {
            dataArr = JSON.parse('@Html.Raw(Json.Serialize(Model.WasteDetail))');
            TotalLossAmount = parseFloat($("#TotalLossAmount").val());
            WasteModelId = @Model.Id;
    }
    </script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/Scripts/Waste.js"></script>
}
