@using Microsoft.Extensions.Localization;
@model IEnumerable<RocketPOS.Models.TablesModel>
@inject IStringLocalizer<RocketPOS.Resources.RocketPOSResources> SharedLocalizer;
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Tables");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("Tables");
}

<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <a asp-action="Tables" class="pull-right btn btn-primary">Add</a>
                    <h2>Tables</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="col-sm-12">
                                <table id="@SharedLocalizer.GetLocalizedHtmlString("Tables")" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                    <thead role="row">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.OutletName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TableName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PersonCapacity)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(model => model.TableIcon)
                                            </th>*@
                                            @*<th>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>*@
                                            <th>@Html.DisplayName("Action")</th>
                                        </tr>
                                    </thead>
                                    <tfoot role="row">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.OutletName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TableName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PersonCapacity)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(model => model.TableIcon)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>*@
                                            <th>@Html.DisplayName("Action")</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            var tm = "#myModal" + item.Id;
                                            var mid = "myModal" + item.Id;

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OutletName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TableName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PersonCapacity)
                                                </td>
                                                @*<td>
                                                    @Html.DisplayFor(modelItem => item.TableIcon)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>*@
                                                <td>
                                                    <div class="form-button-action">
                                                        <a asp-action="Tables" class="btn btn-link btn-primary btn-lg" asp-route-Id="@item.Id"><i class="fa fa-edit"></i></a>
                                                        <a href="#" class="btn btn-link btn-danger" data-toggle="modal" data-target="@tm"><i class="fa fa-times"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#@dataTableName').DataTable();
        });
    </script>
}
