@using Microsoft.Extensions.Localization;
@model IEnumerable<RocketPOS.Models.PurchaseViewModel>
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Food Menu Purchase");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("PurchaseFoodMenu");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-11">
                <h5 class="card-title">Purchase Orders</h5>
            </div>
            <div class="float-right">
                <a asp-action="PurchaseFoodMenu" class="btn btn-primary float-sm-left ">Create PO</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <input id="fromDate" type="date" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input id="toDate" type="date" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <a id="btnLoadData" onclick="return loadPurchaseList();" class="btn btn-outline-light" data-dismiss="modal">Load</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="@SharedLocalizer.GetLocalizedHtmlString("PurchaseFoodMenu")" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead>
                        <tr role="row">
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Number")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Date")</th>
                            <th style="width:40%" rowspan="1" colspan="1">@Html.DisplayName("Supplier")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Amount")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Creator")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Status")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Actions")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Invoices")</th>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Number")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Date")</th>
                            <th style="width:40%" rowspan="1" colspan="1">@Html.DisplayName("Supplier")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Amount")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Creator")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Status")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Actions")</th>
                            <th style="width:10%" rowspan="1" colspan="1">@Html.DisplayName("Invoices")</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tm = "#myModal" + item.Id;
                            var mid = "myModal" + item.Id;
                            <tr role="row">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReferenceNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date, "{0:d}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupplierName)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(modelItem => item.GrandTotal)
                                </td>
                                <td>
                                    @Html.DisplayName("Rocket")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    <div class="form-button-action">
                                        <a asp-action="PurchaseFoodMenu" asp-route-Id="@item.Id">Edit   <i class="fa fa-edit"></i></a>
                                        <label> / </label>
                                        <a href="#" class="fa fa-trash-alt" data-toggle="modal" data-target="@tm">Delete   <i class="fa fa-times"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-button-action">
                                        <a asp-action="PurchaseGRNByPurchaseId" asp-route-Id="@item.Id">GRN </a>
                                        <label> / </label>
                                        <a asp-action="PurchaseInvoiceByPurchaseId" asp-route-Id="@item.Id">Invoice </a>
                                    </div>
                                </td>
                            </tr>
                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var PurchaseFoodMenu = null;
        $(document).ready(function () {
            var myDate = new Date();
            var date = myDate.getFullYear() + '-' + ('0' + myDate.getMonth() + 1).slice(-2) + '-' + ('0' + myDate.getDate()).slice(-2);
            $("#fromDate").val(date);
            $("#toDate").val(date);
            PurchaseFoodMenu = $('#@dataTableName').DataTable();
          //  loadPurchaseList();
        });

        function loadPurchaseList() {
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/PurchaseFoodmenu/PurchaseFoodmenuListByDate?fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val(),
                dataType: "json",
                type: "GET",
                success: function (data) {
                    if (PurchaseFoodMenu != null) {
                        PurchaseFoodMenu.clear();
                        PurchaseFoodMenu.destroy();
                    }
                    debugger;
                    PurchaseFoodMenu = $("#PurchaseFoodmenu").DataTable({
                        "data": data.PurchaseFoodMenu,
                        "columns": [
                            { "data": "referenceNo", "name": "Number", "autoWidth": true },
                            { "data": "Date", "name": "Date", "autoWidth": true },
                            { "data": "SupplierName", "name": "Supplier", "autoWidth": true },
                            { "data": "GrandTotal", "name": "Amount", "autoWidth": true },
                            { "defaultContent": "Rocket", "autoWidth": true },
                            { "data": "Status", "name": "Status", "autoWidth": true },
                            {
                                data: null,
                                mRender: function (data, type, row) {
                                    return '<div class="form-button-action"><a href="/PurchaseFoodmenu/PurchaseFoodmenu/' + row.id +'">Edit</a>' +
                                        ' / <a href="#"  data-toggle="modal" data-target="#myModal' + row.id + '">Delete</a> ' +
                                        '<div class="modal fade" id=myModal' + row.id + ' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">' +
                                        '<div class= "modal-dialog" > <div class="modal-content"><div class="modal-header"><h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div><div class="modal-body">' +
                                        'Are you sure want to delete this item?</div><div class="modal-footer"><a id="deleteBtn" data-itemId="' + row.id + '" onclick="deleteAdjustmentDetail('+ row.id +')" data-dismiss="modal" class="btn bg-danger mr-1">Delete</a><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div></div></div></div></div>'

                                },
                            }
                        ],
                        columnDefs: [
                            { targets: [4], orderable: false }
                        ],
                        "bLengthChange": true,
                        "bInfo": true,
                        "bFilter": true,
                        "ordering": true,
                        "autoWidth": false,
                        "orderCellsTop": true,
                        "stateSave": false,
                        "pageLength": 200,
                        "lengthMenu": [
                            [200, 500, 1000],
                            ['200', '500', '1000']
                        ],
                    });
                },
                error: function (err) {

                }
            });
        }

        function deleteAdjustmentDetail(id) {
            $.ajax({
                url: "/PurchaseFoodmenu/Delete/" + id,
                data: { },
                dataType: "json",
                success: function (data) {
                    loadAdjustmentList();
                },
                error: function (data) {
                    loadAdjustmentList();
                }
            });
        };
    </script>
}