@using Microsoft.Extensions.Localization;
@model IEnumerable<RocketPOS.Models.AssetItemModel>

@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Asset Items");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("AssetItem");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-11">
                <h5 class="card-title">Asset Items</h5>
            </div>
            <div class="float-right">
                <a asp-action="AssetItem" class="btn btn-primary float-sm-left ">Add</a>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="@SharedLocalizer.GetLocalizedHtmlString("AssetItem")" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead >
                        <tr role="row>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayName("Asset Item")
                            </th>
                            <th>
                                @Html.DisplayName("Short Name")
                            </th>
                            <th>
                                @Html.DisplayName("UnitName")
                            </th>
                            <th>
                                @Html.DisplayName("Tax")
                            </th>
                            <th>
                                @Html.DisplayName("Brandname")
                            </th>
                            <th>
                                @Html.DisplayName("Model")
                            </th>
                            <th>
                                @Html.DisplayName("Cost Price")
                            </th>
                            <th>
                                @Html.DisplayName("Action")
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr role="row>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayName("Asset Item")
                            </th>
                            <th>
                                @Html.DisplayName("Short Name")
                            </th>
                            <th>
                                @Html.DisplayName("UnitName")
                            </th>
                            <th>
                                @Html.DisplayName("Tax")
                            </th>
                            <th>
                                @Html.DisplayName("Brandname")
                            </th>
                            <th>
                                @Html.DisplayName("Model")
                            </th>
                            <th>
                                @Html.DisplayName("Cost Price")
                            </th>
                            <th>
                                @Html.DisplayName("Action")
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tm = "#myModal" + item.Id;
                            var mid = "myModal" + item.Id;

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssetItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShortName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tax)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brandname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.CostPrice)
                            </td>
                            <td>
                                <div class="form-button-action">
                                    <a asp-action="AssetItem" asp-route-Id="@item.Id">Edit   <i class="fa fa-edit"></i></a>
                                    <label> / </label>
                                    <a href="#" class="fa fa-trash-alt" data-toggle="modal" data-target="@tm">Delete   <i class="fa fa-times"></i></a>
                                </div>
                            </td>
                        </tr>
                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            @SharedLocalizer.GetLocalizedHtmlString("DeleteConfrim")
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<br />

@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#@dataTableName').DataTable({
                dom: 'Bfrtip',
                "buttons": [{
                    extend: 'excel',
                    exportOptions: { columns: [0, 1, 2, 3, 4, 5,6,7], rows: ':visible' },
                    format: {
                        body: function (data, row, column, node) {
                            if ($(data).is("input")) {
                                return $(data).val();
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    filename: function () {
                        var d = new Date();
                        var date = d.getFullYear() + '_' + ('0' + (d.getMonth() + 1)).slice(-2) + '_' + ('0' + d.getDate()).slice(-2);
                        var n = d.getTime();
                        return 'AssetItem_' + date + '_' + n;
                    },
                }],
                "bLengthChange": true,
                "bInfo": true,
                "bFilter": true,
                "ordering": true,
                "autoWidth": false,
                "orderCellsTop": true,
                "stateSave": false,
                "pageLength": 250,
                "lengthMenu": [
                    [250, 500, 1000, 2000],
                    ['250', '500', '1000', '2000']
                ],
            });
        });
    </script>
}
