@using Microsoft.Extensions.Localization;
@model IEnumerable<RocketPOS.Models.ExpsenseCategoryModel>
@inject IStringLocalizer<RocketPOS.Resources.RocketPOSResources> SharedLocalizer;
@{
    ViewData["Title"] = "ExpenseCategory";
}
<h1>Expense Category</h1>
<p>
    <a asp-action="ExpenseCategory" class="pull-right btn btn-primary">Create New</a>
</p>

@if (!string.IsNullOrEmpty(ViewBag.msg))
{
    <script type="text/javascript">
        alert("@ViewBag.msg");
    </script>
}

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ExpenseCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var tm = "#myModal" + item.Id;
            var mid = "myModal" + item.Id;
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
                <td>
                    <a asp-action="ExpenseCategory" class="btn btn-primary" asp-route-Id="@item.Id">Edit</a> |
                    <a class="btn btn-primary" data-toggle="modal" data-target="@tm">Delete</a>
                </td>
            </tr>
            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            @SharedLocalizer["DeleteConfrim"];
                            @*Are you sure want to delete this item?*@
                        </div>
                        <div class="modal-footer">
                            <a asp-action="Delete" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </tbody>
</table>
