@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.Reports.ReportParameterModel
@inject IStringLocalizer<RocketPOS.Resources.RocketPOSResources> SharedLocalizer;
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("MasterSalesReport");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("MasterSalesTable");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h5 class="card-title">Invoicewise Tax Summary</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        @*<input id="fromDate" type="date" class="form-control" />*@
                        <div class="form-group">
                            <label asp-for="fromDate" class="control-label">From Date</label>
                            <input asp-for="fromDate" type="date" class="form-control" />
                            <span asp-validation-for="fromDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        @*<input id="toDate" type="date" class="form-control" />*@
                        <div class="form-group">
                            <label asp-for="toDate" class="control-label">To Date</label>
                            <input asp-for="toDate" type="date" class="form-control" />
                            <span asp-validation-for="toDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Outlet</label>
                            @if (Model != null)
                            {
                                <select asp-for="OutletId" class="form-control"
                                        asp-items="@(new SelectList(Model.OutletList, "Value", "Text"))">
                                </select>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a id="btnLoadData" onclick="return loadMasterSalesList();" style="margin-top: 22px" class="btn btn-outline-light" data-dismiss="modal">Load</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="MasterSalesTable" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead role="row">
                        <tr>
                            <th style="width:10%">@Html.DisplayName("Date")</th>
                            <th style="width:10%">@Html.DisplayName("Invoice #")</th>
                            <th style="width:15%">@Html.DisplayName("Net Sales")</th>
                            <th style="width:15%">@Html.DisplayName("Vatable")</th>
                            <th style="width:10%">@Html.DisplayName("NonVatable")</th>
                            <th style="width:10%">@Html.DisplayName("Tax")</th>
                            <th style="width:15%">@Html.DisplayName("Total")</th>
                            <th style="width:15%">@Html.DisplayName("Catering Levy")</th>
                        </tr>
                    </thead>
                    <tfoot role="row">
                        <tr>
                            <th style="width:10%">@Html.DisplayName("Date")</th>
                            <th style="width:10%">@Html.DisplayName("Invoice #")</th>
                            <th style="width:15%">@Html.DisplayName("Net Sales")</th>
                            <th style="width:15%">@Html.DisplayName("Vatable")</th>
                            <th style="width:10%">@Html.DisplayName("NonVatable")</th>
                            <th style="width:10%">@Html.DisplayName("Tax")</th>
                            <th style="width:15%">@Html.DisplayName("Total")</th>
                            <th style="width:15%">@Html.DisplayName("Catering Levy")</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary ">Ok</button>
                <button type="button" id="ok" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var MasterSalesTable = null;
        $(document).ready(function () {
            MasterSalesTable = $('#@dataTableName').DataTable();

            $("#OutletId").select2();
        });

        function loadMasterSalesList() {
            var message = '';
            if ($("#OutletId").val() == '' || $("#OutletId").val() == '0') {
                message = "Select Outlet"
            }

            if (message == '') {

            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Report/GetCessDetailList?fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val() + "&outletId=" + $("#OutletId").val(),
                dataType: "json",
                type: "GET",
                success: function (data) {
                    if (MasterSalesTable != null) {
                        MasterSalesTable.clear();
                        MasterSalesTable.destroy();
                    }

                    MasterSalesTable = $("#MasterSalesTable").DataTable({
                        "data": data.cessReportList,
                        "columns": [
                            { "data": "billDate", "name": "BillDate", "autoWidth": true },
                            { "data": "invoiceNumber", "name": "InvoiceNumber", "autoWidth": true },
                            { "data": "netSales", "name": "NetSales", "autoWidth": true },
                            { "data": "vatable", "name": "Vatable", "autoWidth": true },
                            { "data": "nonVatable", "name": "NonVatable", "autoWidth": true },
                            { "data": "totalTax", "name": "TotalTax", "autoWidth": true },
                            { "data": "grandTotal", "name": "GrandTotal", "autoWidth": true },
                            { "data": "cateringLevy", "name": "CateringLevy", "autoWidth": true },
                        ],
                        columnDefs: [
                            {
                                targets: [2,3,4, 5, 6,7],
                                render: $.fn.dataTable.render.number(',', '.', 2)
                            },
                            {
                                targets: [ 2, 3, 4, 5, 6,7], orderable: false,
                                targets: [ 2, 3, 4, 5, 6,7], orderable: false, class: "text-right",
                            }
                        ],
                        dom: 'Bfrtip',
                        "buttons": [
                            {
                                extend: 'pdf',
                                exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6,7]},
                                filename: function () {
                                    var d = new Date();
                                    var date = d.getFullYear() + '_' + ('0' + (d.getMonth() + 1)).slice(-2) + '_' + ('0' + d.getDate()).slice(-2);
                                    var n = d.getTime();
                                    return 'Invoicewise_Tax_Summary_Report_' + date + '_' + n;
                                },
                                customize: function (doc) {
                                    doc.pageMargins = [20, 20, 20, 20];
                                    doc.defaultStyle.fontSize = 8;
                                    doc.styles.tableHeader.fontSize = 8;
                                    doc.styles.title.fontSize = 10;
                                    doc.content[0].text = 'Catering Levy Summary Report' + '\n' + $("#OutletId").children("option:selected").text() + '\nFrom Date: ' + $('#fromDate').val() + '      To Date: ' + $('#toDate').val();
                                    doc.content[0].alignment = 'left';
                                    doc.content[1].table.widths = ['10%', '10%', '15%', '15%', '10%', '10%', '15%','15%'];

                                    var rowCount = doc.content[1].table.body.length;
                                    for (i = 1; i < rowCount; i++) {
                                        doc.content[1].table.body[i][2].alignment = 'right';
                                        doc.content[1].table.body[i][3].alignment = 'right';
                                        doc.content[1].table.body[i][4].alignment = 'right';
                                        doc.content[1].table.body[i][5].alignment = 'right';
                                        doc.content[1].table.body[i][6].alignment = 'right';
                                        doc.content[1].table.body[i][7].alignment = 'right';
                                   }

                                    // Create a footer
                                    doc['footer'] = (function (page, pages) {
                                        return {
                                            columns: [
                                                '',//'This is your left footer column',
                                                {
                                                    // This is the right column
                                                    alignment: 'right',
                                                    text: ['Page ', { text: page.toString() }, ' of ', { text: pages.toString() }]
                                                }
                                            ],
                                            margin: [10, 0]
                                        }
                                    });
                                        },
                            },
                            {
                            extend: 'excel',
                                customize: function (xlsx) {
                                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                    var thousandSepCols = [ 'C', 'D', 'E', 'F', 'G', 'H'];
                                    for (i = 0; i < thousandSepCols.length; i++) {
                                        $('row c[r^=' + thousandSepCols[i] + ']:gt(0)', sheet).attr('s', '52');
                                    }
                                },
                                customizeData: function (data) {
                                    for (var i = 0; i < data.body.length; i++) {
                                        for (var j = 1; j < data.body[i].length; j++) {
                                            data.body[i][j] = '\u200C' + data.body[i][j];
                                        }
                                    }
                                },
                                filename: function () {
                                var d = new Date();
                                var date = d.getFullYear() + '_' + ('0' + (d.getMonth() + 1)).slice(-2) + '_' + ('0' + d.getDate()).slice(-2);
                                var n = d.getTime();
                                return 'Invoicewise_Tax_Summary_Report_' + date + '_' + n;
                            },
                                footer: true
                        }],
 						"footerCallback": function (row, data, start, end, display) {
                            var api = this.api(),
                                data;

                            // Remove the formatting to get integer data for summation
                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                        i : 0;
                            };

                            // Total over all pages
                            total2 = api
                                .column(2)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            total3 = api
                                .column(3)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            total4 = api
                                .column(4)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            total5 = api
                                .column(5)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            total6 = api
                                .column(6)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                                total7 = api
                                    .column(7)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                            $(api.column(0).footer()).html('Total');
                            $(api.column(1).footer()).html('');
                            $(api.column(2).footer()).html(total2.toFixed(2));
                            $(api.column(3).footer()).html(total3.toFixed(2));
                            $(api.column(4).footer()).html(total4.toFixed(2));
                            $(api.column(5).footer()).html(total5.toFixed(2));
                            $(api.column(6).footer()).html(total6.toFixed(2));
                            $(api.column(7).footer()).html(total7.toFixed(2));
                        },
                        "bLengthChange": true,
                        "bInfo": true,
                        "bFilter": true,
                        "ordering": true,
                        "autoWidth": false,
                        "orderCellsTop": true,
                        "stateSave": false,
                        "pageLength": 200,
                        "lengthMenu": [
                            [200, 500, 1000],
                            ['200', '500', '1000']
                        ],
                    });
                },
                error: function (err) {

                }
            });
            }
            else if (message != '') {
                $(".modal-body").text(message);
                $("#save").hide();
                jQuery.noConflict();
                $("#aModal").modal('show');
                return false;
            }
        }
    </script>
}
