@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.Reports.ReportParameterModel
@inject IStringLocalizer<RocketPOS.Resources.RocketPOSResources> SharedLocalizer;
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("MasterSalesReport");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("MasterSalesTable");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h5 class="card-title">Detailed Daily By Date Report</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <input id="fromDate" type="date" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input id="toDate" type="date" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @if (Model != null)
                            {
                                <select asp-for="OutletId" class="form-control"
                                        asp-items="@(new SelectList(Model.OutletList, "Value", "Text"))">
                                </select>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a id="btnLoadData" onclick="return loadDetailedDailyByDateList();" class="btn btn-outline-light" data-dismiss="modal">Load</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="MasterSalesTable" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead role="row">
                        <tr>
                            <th style="width:50%">@Html.DisplayName("Title")</th>
                            <th style="width:50%">@Html.DisplayName("Value")</th>
                        </tr>
                    </thead>
                    <tfoot role="row">
                        <tr>
                            <th style="width:50%">@Html.DisplayName("Date")</th>
                            <th style="width:50%">@Html.DisplayName("Time")</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var MasterSalesTable = null;
        $(document).ready(function () {
            var myDate = new Date();
            var fdate = myDate.getFullYear() + '-' + ('01') + '-' + ('01');
            var tdate = myDate.getFullYear() + '-' + ('0' + (myDate.getMonth() + 1)).slice(-2) + '-' + ('0' + myDate.getDate()).slice(-2);

            $("#fromDate").val(tdate);
            $("#toDate").val(tdate);
            MasterSalesTable = $('#@dataTableName').DataTable();

            $("#OutletId").select2();
        });

        function loadDetailedDailyByDateList() {
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Report/DetailedDailyByDateList?fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val() + "&outletId=" + $("#OutletId").val(),
                dataType: "json",
                type: "GET",
                success: function (data) {
                    if (MasterSalesTable != null) {
                        MasterSalesTable.clear();
                        MasterSalesTable.destroy();
                    }
                    MasterSalesTable = $("#MasterSalesTable").DataTable({
                        "data": data.detailedDailyList,
                        "columns": [
                            { "data": "registerTitle", "name": "RegisterTitle", "autoWidth": true },
                            { "data": "registerValue", "name": "RegisterValue", "autoWidth": true },
                        ],
                        columnDefs: [
                            {
                                targets: [1],
                                render: $.fn.dataTable.render.number(',', '.', 2)
                            },
                           {
                                targets: [0,1], orderable: false,
                                targets: [1], orderable: false, class: "text-right",
                            }
                        ],
                        dom: 'Bfrtip',
                        "buttons": [{
                            extend: 'excel',
                            exportOptions: { columns: [0, 1] },
                            filename: function () {
                                var d = new Date();
                                var date = d.getFullYear() + '_' + ('0' + (d.getMonth() + 1)).slice(-2) + '_' + ('0' + d.getDate()).slice(-2);
                                var n = d.getTime();
                                return 'Detailed_Daily_Report_' + date + '_' + n;
                            },
                        }],
                        "bLengthChange": true,
                        "bInfo": true,
                        "bFilter": true,
                        "ordering": true,
                        "autoWidth": false,
                        "orderCellsTop": true,
                        "stateSave": false,
                        "pageLength": 200,
                        "lengthMenu": [
                            [200, 500, 1000],
                            ['200', '500', '1000']
                        ],
                    });
                },
                error: function (err) {

                }
            });
        }
    </script>
}
