@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.Reports.ReportParameterModel
@inject IStringLocalizer<RocketPOS.Resources.RocketPOSResources> SharedLocalizer;
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("MasterSalesReport");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("MasterSalesTable");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h5 class="card-title">Sales Summary By Week Report</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        @*<input id="fromDate" type="date" class="form-control" />*@
                        <div class="form-group">
                            <label asp-for="fromDate" class="control-label">From Date</label>
                            <input asp-for="fromDate" type="date" class="form-control" />
                            <span asp-validation-for="fromDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        @*<input id="toDate" type="date" class="form-control" />*@
                        <div class="form-group">
                            <label asp-for="toDate" class="control-label">To Date</label>
                            <input asp-for="toDate" type="date" class="form-control" />
                            <span asp-validation-for="toDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Category</label>
                            @if (Model != null)
                            {
                                <select asp-for="FoodCategoryId" class="form-control"
                                        asp-items="@(new SelectList(Model.FoodCategoryList, "Value", "Text"))">
                                </select>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Product</label>
                            @if (Model != null)
                            {
                                <select asp-for="FoodMenuId" class="form-control"
                                        asp-items="@(new SelectList(Model.FoodMenuList, "Value", "Text"))">
                                </select>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Outlet</label>
                            @if (Model != null)
                            {
                                <select asp-for="OutletId" class="form-control"
                                        asp-items="@(new SelectList(Model.OutletList, "Value", "Text"))">
                                </select>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a id="btnLoadData" onclick="return loadMasterSalesList();" style="margin-top: 22px" class="btn btn-outline-light" data-dismiss="modal">Load</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="MasterSalesTable" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead role="row">
                        <tr>
                            <th style="width:15%">@Html.DisplayName("Week")</th>
                            <th style="width:10%">@Html.DisplayName("Invoice#")</th>
                            <th style="width:15%">@Html.DisplayName("Net Sales")</th>
                            <th style="width:15%">@Html.DisplayName("Discount")</th>
                            <th style="width:15%">@Html.DisplayName("Tax")</th>
                            <th style="width:15%">@Html.DisplayName("Gross")</th>
                        </tr>
                    </thead>
                    <tfoot role="row">
                        <tr>
                            <th style="width:15%">@Html.DisplayName("Week")</th>
                            <th style="width:10%">@Html.DisplayName("Invoice#")</th>
                            <th style="width:15%">@Html.DisplayName("Net Sales")</th>
                            <th style="width:15%">@Html.DisplayName("Discount")</th>
                            <th style="width:15%">@Html.DisplayName("Tax")</th>
                            <th style="width:15%">@Html.DisplayName("Gross")</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var MasterSalesTable = null;
        $(document).ready(function () {
            MasterSalesTable = $('#@dataTableName').DataTable();

            $("#FoodCategoryId").select2();
            $("#FoodMenuId").select2();
            $("#OutletId").select2();
        });
  
        function loadMasterSalesList() {
            var message = '';

            if ($("#OutletId").val() == '' || $("#OutletId").val() == '0') {
                message = "Select Outlet"
            }

            if (message == '') {
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Report/SalesSummaryByWeekList?fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val() + "&categoryId=" + $("#FoodCategoryId").val() + "&foodMenuId=" + $("#FoodMenuId").val() + "&outletId=" + $("#OutletId").val(),
                dataType: "json",
                type: "GET",
                success: function (data) {
                    if (MasterSalesTable != null) {
                        MasterSalesTable.clear();
                        MasterSalesTable.destroy();
                    }
                    MasterSalesTable = $("#MasterSalesTable").DataTable({
                        "data": data.salesSummaryByWeeksList,
                        "columns": [
                            { "data": "weekStartDate", "name": "WeekStartDate", "autoWidth": true },
                            { "data": "totalInvoice", "name": "TotalInvoice", "autoWidth": true },
                            { "data": "netSalesAmount", "name": "NetSalesAmount", "autoWidth": true },
                            { "data": "totalDiscount", "name": "TotalDiscount", "autoWidth": true },
                            { "data": "totalTax", "name": "TotalTax", "autoWidth": true },
                            { "data": "totalGrossAmount", "name": "TotalGrossAmount", "autoWidth": true },
                        ],
                        columnDefs: [
                            {
                                targets: [1,2,3,4, 5,],
                                render: $.fn.dataTable.render.number(',', '.', 2)
                            },
                           {
                                targets: [1,2,3,4,5], orderable: false,
                                targets: [1,2,3,4, 5], orderable: false, class: "text-right",
                            }
                        ],
                        dom: 'Bfrtip',
                        "buttons": [{
                            extend: 'excel',
                            exportOptions: { columns: [0, 1, 2, 3, 4, 5] },
                            filename: function () {
                                var d = new Date();
                                var date = d.getFullYear() + '_' + ('0' + (d.getMonth() + 1)).slice(-2) + '_' + ('0' + d.getDate()).slice(-2);
                                var n = d.getTime();
                                return 'Sales_Summary_By_Weekly_Report_' + date + '_' + n;
                            },
                        }],
                        "bLengthChange": true,
                        "bInfo": true,
                        "bFilter": true,
                        "ordering": true,
                        "autoWidth": false,
                        "orderCellsTop": true,
                        "stateSave": false,
                        "pageLength": 200,
                        "lengthMenu": [
                            [200, 500, 1000],
                            ['200', '500', '1000']
                        ],
                    });
                },
                error: function (err) {

                }
            });
            }
            else if (message != '') {
                $(".modal-body").text(message);
                $("#save").hide();
                jQuery.noConflict();
                $("#aModal").modal('show');
                return false;
            }
        }
    </script>
}
