@using Microsoft.Extensions.Localization;
@model RocketPOS.Models.Reports.ReportParameterModel
@inject IStringLocalizer<RocketPOS.Resources.RocketPOSResources> SharedLocalizer;
@using  RocketPOS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("MasterSalesReport");
    var dataTableName = @SharedLocalizer.GetLocalizedHtmlString("MasterSalesTable");
}

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                @if (ViewBag.Reportname == "SalesBySectionCategoryProductAmountAsc")
                {
                <h5 class="card-title">Sales By Section Category Product Amount Asc</h5>
                }
                @if (ViewBag.Reportname == "SalesBySectionCategoryProductAmountDesc")
                {
            <h5 class="card-title">Sales By Section Category Product Amount Desc</h5>
                }
                @if (ViewBag.Reportname == "SalesBySectionCategoryProductQtyAsc")
                {
            <h5 class="card-title">Sales By Section Category Product Qty Asc</h5>
                }
                @if (ViewBag.Reportname == "SalesBySectionCategoryProductQtyDesc")
                {
            <h5 class="card-title">Sales By Section Category Product Qty Desc</h5>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        @*<input id="fromDate" type="date" class="form-control" />*@
                        <div class="form-group">
                            <label asp-for="fromDate" class="control-label">From Date</label>
                            <input asp-for="fromDate" type="date" class="form-control" />
                            <span asp-validation-for="fromDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        @*<input id="toDate" type="date" class="form-control" />*@
                        <div class="form-group">
                            <label asp-for="toDate" class="control-label">To Date</label>
                            <input asp-for="toDate" type="date" class="form-control" />
                            <span asp-validation-for="toDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Category</label>
                            @if (Model != null)
                            {
                                <select asp-for="FoodCategoryId" class="form-control"
                                        asp-items="@(new SelectList(Model.FoodCategoryList, "Value", "Text"))">
                                </select>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Product</label>
                            @if (Model != null)
                            {
                                <select asp-for="FoodMenuId" class="form-control"
                                        asp-items="@(new SelectList(Model.FoodMenuList, "Value", "Text"))">
                                </select>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Outlet</label>
                            @if (Model != null)
                            {
                                <select asp-for="OutletId" class="form-control"
                                        asp-items="@(new SelectList(Model.OutletList, "Value", "Text"))">
                                </select>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a id="btnLoadData" onclick="return loadMasterSalesList();" style="margin-top: 22px" class="btn btn-outline-light" data-dismiss="modal">Load</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="col-sm-12">
                <table id="MasterSalesTable" class="display table table-bordered table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead role="row">
                        <tr>
                            <th style="width:10%">@Html.DisplayName("Section")</th>
                            <th style="width:15%">@Html.DisplayName("Category")</th>
                            <th style="width:15%">@Html.DisplayName("Product")</th>
                            <th style="width:8%">@Html.DisplayName("Rate")</th>
                            <th style="width:8%">@Html.DisplayName("Qty")</th>
                            <th style="width:8%">@Html.DisplayName("Amount")</th>
                            <th style="width:8%">@Html.DisplayName("Discount")</th>
                            <th style="width:8%">@Html.DisplayName("Tax")</th>
                            <th style="width:10%">@Html.DisplayName("Total")</th>
                            <th style="width:10%">@Html.DisplayName("Value%")</th>
                        </tr>
                    </thead>
                    <tfoot role="row">
                        <tr>
                            <th style="width:10%">@Html.DisplayName("Section")</th>
                            <th style="width:15%">@Html.DisplayName("Category")</th>
                            <th style="width:15%">@Html.DisplayName("Product")</th>
                            <th style="width:8%">@Html.DisplayName("Rate")</th>
                            <th style="width:8%">@Html.DisplayName("Qty")</th>
                            <th style="width:8%">@Html.DisplayName("Amount")</th>
                            <th style="width:8%">@Html.DisplayName("Discount")</th>
                            <th style="width:8%">@Html.DisplayName("Tax")</th>
                            <th style="width:10%">@Html.DisplayName("Total")</th>
                            <th style="width:10%">@Html.DisplayName("Value%")</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary ">Ok</button>
                <button type="button" id="ok" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var MasterSalesTable = null;
        $(document).ready(function () {
            MasterSalesTable = $('#@dataTableName').DataTable();

            $("#FoodCategoryId").select2();
            $("#FoodMenuId").select2();
            $("#OutletId").select2();
        });

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        var rname = getUrlVars()["rname"];

        function loadMasterSalesList() {
            var message = '';

            if ($("#OutletId").val() == '' || $("#OutletId").val() == '0') {
                message = "Select Outlet"
            }

            if (message == '') {

            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Report/SalesBySectionCategoryProductList?fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val() + "&categoryId=" + $("#FoodCategoryId").val() + "&foodMenuId=" + $("#FoodMenuId").val() + "&outletId=" + $("#OutletId").val() + "&rname=" + rname,
                dataType: "json",
                type: "GET",
                success: function (data) {
                    if (MasterSalesTable != null) {
                        MasterSalesTable.clear();
                        MasterSalesTable.destroy();
                    }
                    MasterSalesTable = $("#MasterSalesTable").DataTable({
                        "data": data.salesByCategoryProductList,
                        "columns": [
                            { "data": "sectionName", "name": "SectionName", "autoWidth": true },
                            { "data": "foodMenuCategoryName", "name": "FoodMenuCategoryName", "autoWidth": true },
                            { "data": "foodMenuName", "name": "FoodMenuName", "autoWidth": true },
                            { "data": "totalUnitPrice", "name": "TotalUnitPrice", "autoWidth": true },
                            { "data": "totalQty", "name": "TotalQty", "autoWidth": true },
                            { "data": "totalPrice", "name": "TotalPrice", "autoWidth": true },
                            { "data": "totalDiscount", "name": "TotalDiscount", "autoWidth": true },
                            { "data": "totalTax", "name": "TotalTax", "autoWidth": true },
                            { "data": "totalGrossAmount", "name": "TotalGrossAmount", "autoWidth": true },
                            { "data": "valuePercentage", "name": "ValuePercentage", "autoWidth": true }
                        ],
                        columnDefs: [
                            {
                                targets: [3,4, 5, 6, 7, 8,9],
                                render: $.fn.dataTable.render.number(',', '.', 2)
                            },
                            {
                                targets: [3,4, 5, 6, 7, 8,9], orderable: false,
                                targets: [3, 4, 5, 6, 7, 8,9], orderable: false, class: "text-right",
                            }
                        ],
                        dom: 'Bfrtip',
                        "buttons": [
                            {
                                extend: 'pdf',
                                exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6, 7, 8,9]},
                                filename: function () {
                                    var d = new Date();
                                    var date = d.getFullYear() + '_' + ('0' + (d.getMonth() + 1)).slice(-2) + '_' + ('0' + d.getDate()).slice(-2);
                                    var n = d.getTime();
                                    return 'Sales_By_Section_Category_Product_' + date + '_' + n;
                                },
                                customize: function (doc) {
                                    doc.pageMargins = [20, 20, 20, 20];
                                    doc.defaultStyle.fontSize = 8;
                                    doc.styles.tableHeader.fontSize = 8;
                                    doc.styles.title.fontSize = 10;
                                    doc.content[0].text = 'Sales By Category Product Report' + '\n' + $("#OutletId").children("option:selected").text() + '\nFrom Date: ' + $('#fromDate').val() + '      To Date: ' + $('#toDate').val();
                                    doc.content[0].alignment = 'left';
                                    doc.content[1].table.widths = ['10%', '8%', '15%', '15%', '8%', '8%', '8%', '10%', '8%','8%'];

                                    var rowCount = doc.content[1].table.body.length;
                                    for (i = 1; i < rowCount; i++) {
                                        doc.content[1].table.body[i][3].alignment = 'right';
                                        doc.content[1].table.body[i][4].alignment = 'right';
                                        doc.content[1].table.body[i][5].alignment = 'right';
                                        doc.content[1].table.body[i][6].alignment = 'right';
                                        doc.content[1].table.body[i][7].alignment = 'right';
                                        doc.content[1].table.body[i][8].alignment = 'right';
                                        doc.content[1].table.body[i][9].alignment = 'right';
                                   }

                                    // Create a footer
                                    doc['footer'] = (function (page, pages) {
                                        return {
                                            columns: [
                                                '',//'This is your left footer column',
                                                {
                                                    // This is the right column
                                                    alignment: 'right',
                                                    text: ['Page ', { text: page.toString() }, ' of ', { text: pages.toString() }]
                                                }
                                            ],
                                            margin: [10, 0]
                                        }
                                    });
                                        },
                            },
                            {
                            extend: 'excel',
                                customize: function (xlsx) {
                                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                    var thousandSepCols = [ 'D', 'E', 'F', 'G','H','I','J'];
                                    for (i = 0; i < thousandSepCols.length; i++) {
                                        $('row c[r^=' + thousandSepCols[i] + ']:gt(0)', sheet).attr('s', '52');
                                    }
                                },
                                customizeData: function (data) {
                                    for (var i = 0; i < data.body.length; i++) {
                                        for (var j = 1; j < data.body[i].length; j++) {
                                            data.body[i][j] = '\u200C' + data.body[i][j];
                                        }
                                    }
                                },
                                filename: function () {
                                var d = new Date();
                                var date = d.getFullYear() + '_' + ('0' + (d.getMonth() + 1)).slice(-2) + '_' + ('0' + d.getDate()).slice(-2);
                                var n = d.getTime();
                                return 'Sales_By_Section_Category_Product_' + date + '_' + n;
                            },
                        }],
                        "bLengthChange": true,
                        "bInfo": true,
                        "bFilter": true,
                        "ordering": true,
                        "autoWidth": false,
                        "orderCellsTop": true,
                        "stateSave": false,
                        "pageLength": 200,
                        "lengthMenu": [
                            [200, 500, 1000],
                            ['200', '500', '1000']
                        ],
                    });
                },
                error: function (err) {

                }
            });
            }
            else if (message != '') {
                $(".modal-body").text(message);
                $("#save").hide();
                jQuery.noConflict();
                $("#aModal").modal('show');
                return false;
            }
        }
    </script>
}
